* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "iran-1";
  src: url(../iran/fonts/eot/IRANSansWeb_Medium.eot) format(eot),
    url(../iran/fonts/ttf/IRANSansWeb_Medium.ttf) format(ttf),
    url(../iran/fonts/woff2/IRANSansWeb_Medium.woff2) format(woff2);
}

@font-face {
  font-family: "iran-2";
  src: url(../iran/fonts/eot/IRANSansWeb_Bold.eot) format(eot);
  src: url(../iran/fonts/ttf/IRANSansWeb_Bold.ttf) format(ttf);
  src: url(../iran/fonts/woff/IRANSansWeb_Bold.woff) format(woff);
  src: url(../iran/fonts/woff2/IRANSansWeb_Bold.woff2) format(woff2);
}

@font-face {
  font-family: "iran-3";
  src: url(../iran/fonts/eot/IRANSansWeb.eot) format(eot);
  src: url(../iran/fonts/ttf/IRANSansWeb.ttf) format(ttf);
  src: url(../iran/fonts/woff/IRANSansWeb.woff) format(woff);
  src: url(../iran/fonts/woff2/IRANSansWeb.woff2) format(woff2);
}

@font-face {
  font-family: "iran-4";
  src: url(../iran/fonts/eot/IRANSansWeb_Light.eot) format(eot);
  src: url(../iran/fonts/ttf/IRANSansWeb_Light.ttf) format(ttf);
  src: url(../iran/fonts/woff/IRANSansWeb_Light.woff) format(woff);
  src: url(../iran/fonts/woff2/IRANSansWeb_Light.woff2) format(woff2);
}

@font-face {
  font-family: "iran-5";
  src: url(../iran/fonts/eot/IRANSansWeb_UltraLight.eot) format(eot);
  src: url(../iran/fonts/ttf/IRANSansWeb_UltraLight.ttf) format(ttf);
  src: url(../iran/fonts/woff/IRANSansWeb_UltraLight.woff) format(woff);
  src: url(../iran/fonts/woff2/IRANSansWeb_UltraLight.woff2) format(woff2);
}

.body-admin {
  width: 100%;
  height: 100vh;
  .container-admin {
    width: 100%;
    height: 100vh;
    position: relative;
    .admin-navbar-page {
      width: 100%;
      height: 8vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: green;
    }
    .admin-header-page {
      width: 100%;
      height: 90vh;
    }
  }
}
