* {
	margin: 0;
	padding: 0;
	font-family: Vazirmatn;
}

.NavbarContainer {
	width: 100%;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.NavbarLogo {
		width: 90px;
		height: 65px;
		background: url(../navbar/logo/VeharYellow.svg) no-repeat;
		background-size: 100px;
		position: absolute;
		right: 20px;
		top: 2px;
		background-position-y: -2px;
		cursor: pointer;
		border-radius: 50px;
		transition: all 1s;
		.animation-logo-green {
			position: absolute;
			top: 20px;
			right: 18px;
		}
	}
	.animation-logo-yellow {
		display: none;
	}
	.input-search-home-page {
		display: flex;
		.searchSvg {
			width: 30px;
			height: 30px;
			color: rgb(230, 12, 12);
			cursor: pointer;
			transform: scaleX(-1);
			border: none;
			border-radius: 5px;
			margin-right: 2px;
			background-color: #fff;
		}
		.recommend-container {
			width: 100%;
			height: 100vh;
			direction: rtl;
			background-color: rgba(37, 37, 37, 0.671);
			position: fixed;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			justify-content: center;
			z-index: 1;
			.content-recommend {
				width: 60%;
				height: 100vh;
				overflow-y: auto;
				scrollbar-width: thin;
				bottom: 0;
				top: 0;
				left: 0;
				right: 0;
				background-color: #eee;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 10px;
				gap: 10px;
				position: relative;
				border-radius: 10px;
				.inputs {
					width: 80%;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 10px;
					padding: 10px;
					input {
						outline: none;
						border-radius: 5px;
						border: none;
						font-size: 12px;
						padding: 5px;
					}
					i {
						position: absolute;
						left: 15px;
						cursor: pointer;
					}
				}
			}
			.content-result-search {
				width: 80%;
				padding: 10px;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 5px;
				.container-map-search {
					width: 100%;
					padding: 10px;
					background-color: rgba(0, 253, 13, 0.253);
					border-radius: 5px;
					.content-map-search {
						.text-title-and-titre {
							border-bottom: 1px solid rgba(0, 4, 253, 0.253);
							display: flex;
							padding: 10px;
							align-items: center;
							gap: 10px;
							font-size: 13px;
							img {
								width: 50px;
								height: 50px;
								border-radius: 50%;
							}
						}
						.info-news-search {
							display: flex;
							gap: 10px;
							font-size: 12px;
							padding: 10px;
							p:nth-child(1) {
								border-left: 1px solid rgba(0, 4, 253, 0.253);
								padding-left: 10px;
							}
							p:nth-child(2) {
								border-left: 1px solid rgba(0, 4, 253, 0.253);
								padding-left: 10px;
							}
							p:nth-child(3) {
								border-left: 1px solid rgba(0, 4, 253, 0.253);
								padding-left: 10px;
							}
						}
					}
				}
				.pagination {
					width: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 5px;
					button {
						width: 20%;
						height: 35px;
						border: none;
						border-radius: 5%;
						background-color: aqua;
						cursor: pointer;
						border-radius: 5px;
					}
					span {
						height: 35px;
						font-weight: 300;
						font-size: 25px;
						text-align: center;
						color: white;
						background-color: black;
						display: flex;
						align-items: center;
						padding: 5px;
						border-radius: 5px;
					}
				}
			}
		}
	}
	.formContent {
		width: 16%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.fa-sign-in {
			color: yellow;
		}
		.login-logout {
			margin-top: 8px;
			margin-left: 10px;
			.logout-icon {
				margin-left: 5px;
				.fa-user-check {
					cursor: pointer;
					color: yellow;
				}
				.fa-user-check:hover ~ .content-logout {
					visibility: visible;
				}
				.content-logout {
					width: 10%;
					background-color: rgb(172, 146, 1);
					display: flex;
					flex-direction: column;
					border-radius: 5px;
					position: absolute;
					direction: rtl;
					padding: 5px;
					z-index: 1;
					gap: 5px;
					font-weight: 300;
					visibility: hidden;
					transition: all 1s;
					.content-info-user {
						width: 100px;
						height: 50px;
						display: flex;
						flex-direction: column;
						gap: 5px;
						img {
							width: 30px;
							height: 30px;
							background-size: cover;
							border-radius: 100px;
						}
						span {
							font-weight: 500;
							font-size: 12px;
							color: #fff;
						}
					}
					.link-logout,
					.Link-home {
						width: 100%;
						padding: 5px;
						cursor: pointer;
						border: none;
						background-color: #eee;
						text-decoration: none;
						border-radius: 5px;
						display: inline-flex;
						align-items: center;
						gap: 5px;
						font-size: 12px;
						transition: background 0.3s;
						color: #000;
					}
					.Link-home:hover {
						background-color: yellow;
					}
					.link-logout:hover {
						background-color: yellow;
					}
				}
				.content-logout:hover {
					visibility: visible;
				}
				.content-logout:after {
					content: "";
					width: 10px;
					height: 10px;
					background-color: rgb(172, 146, 1);
					position: absolute;
					top: 0;
					left: 5px;
					margin-top: -4px;
					transform: rotate(45deg);
				}
			}
		}
	}
	.full-time {
		font-size: 12px;
		display: flex;
		gap: 5px;
		direction: rtl;
		font-weight: 700;
		color: #fff;
	}
	.NavbarMenuText {
		display: flex;
		justify-content: flex-end;
		margin-right: 10%;
		.options-select {
			display: flex;
			gap: 5px;
			.options-navbar > h6:hover {
				color: yellow;
				transition: all 0.3s;
			}
			.options-navbar > h6 {
				text-decoration: none;
				display: inline-block;
				margin-left: 15px;
				cursor: pointer;
				color: #fff;
				font-weight: 300;
				font-size: 14px;
				transition: color 0.3s;
			}
			.options-navbar {
				text-decoration: none;
				h6 {
					font-size: 14px;
					font-weight: 400;
				}
			}
		}
	}

	.SloganVehar {
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		direction: rtl;
		font-weight: 600;
		gap: 5px;
		font-size: 12px;
		color: yellow;
	}
}

@media screen and (max-width: 500px) {
	.NavbarContainer {
		justify-content: unset;
		.NavbarLogo {
			width: 50px;
			height: 50px;
			background-size: 60px;
			right: 20px;
			top: 12px;
			.animation-logo-green {
				top: 8px;
				right: 5px;
			}
		}
		.formContent {
			width: 30%;
			gap: 65px;
			.login-logout {
				margin-left: 15px;
			}
		}
		.full-time {
			font-size: 10px;
			font-weight: 500;
		}
		.NavbarMenuText {
			display: flex;
			justify-content: flex-end;
			margin-right: unset;
			.options-select {
				display: none;
			}
		}
		.SloganVehar {
			width: 50%;
			align-items: flex-start;
			flex-direction: column;
			font-size: 10px;
		}
		.input-search-home-page {
			.recommend-container {
				.content-recommend {
					width: 100%;
					.inputs {
						input {
							width: 60%;
						}
					}
				}
			}
		}
	}
}
