.Container-footer {
	width: 100%;
	height: 80px;
	background-color: green;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	position: relative;

	.Content-Right-Menu {
		width: 20%;
		height: 80px;
		/* background-color: red; */
		position: relative;
		.Footer-Logo {
			width: 83px;
			height: 75px;
			background: url(../navbar/logo/VeharYellow.svg) no-repeat;
			background-size: cover;
			position: absolute;
			right: 15%;
			top: 5px;
			cursor: pointer;
			/* background-color: aqua; */
			border-radius: 50%;
		}
		.animation-logo-yellow-footer {
			position: absolute;
			right: 20%;
			top: 25px;
		}
	}

	.Content-Center-Menu {
		width: 60%;
		height: 70px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 10px;
		position: relative;
		.Footer-Menu {
			width: 50%;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			user-select: none;
			gap: 10px;
			background-color: #fff;
			/* margin-top: 5px; */
			border-radius: 50px;
			.Link-footer-1,
			.Link-footer-2,
			.Link-footer-3,
			.Link-footer-4,
			.Link-footer-5 {
				text-decoration: none;
				cursor: pointer;
				color: #000000;
				font-family: Vazirmatn;
				font-size: 13px;
				transition: color 0.3s;
			}
			.Link-footer-2,
			.Link-footer-3,
			.Link-footer-4,
			.Link-footer-5 {
				border-left: 1px solid rgba(255, 0, 0, 0.349);
				padding-left: 10px;
			}
			.Link-footer:hover {
				color: rgb(194, 2, 2);
				transition: all 0.3s;
			}
		}

		.copy-right {
			position: absolute;
			bottom: 5px;
			font-family: Vazirmatn;
			font-size: 12px;
			direction: rtl;
			color: rgb(238, 255, 0);
		}
	}

	.Content-Left-Menu {
		width: 20%;
		height: 80px;
		/* background-color: aqua; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* align-items: center; */
		position: relative;
		.networcs {
			width: 50%;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			.fa-instagram,
			.fa-telegram {
				width: 20px;
				height: 20px;
				font-size: 20px;
				cursor: pointer;
				color: rgb(252, 252, 252);
				text-decoration: none;
			}
			.eitaa-foter {
				width: 20px;
				height: 20px;
				background: url(../svg/ITA-1.png) no-repeat;
				background-size: 20px;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				font-size: 20px;
				text-decoration: none;
			}
		}
	}
}

/* write media query */

@media screen and (max-width: 480px) {
	.Container-footer {
		justify-content: space-between;
		margin-top: 12px;
		.Content-Right-Menu {
			width: 50px;
			height: 50px;
			border-radius: 100px;
			right: 10px;
			top: 0;
			.Footer-Logo {
				width: 50px;
				height: 50px;
				background-size: 57px;
				right: 4px;
				top: 2px;
			}
			.animation-logo-yellow-footer {
				right: 20%;
				top: 10px;
			}
		}

		.Content-Center-Menu {
			width: 75%;
			font-size: 10px;
			.copy-right {
				width: 90%;
				font-size: 10px;
				text-align: center;
			}
			.Footer-Menu {
				width: 100%;
				.Link-footer-1,
				.Link-footer-2,
				.Link-footer-3,
				.Link-footer-4,
				.Link-footer-5 {
					font-size: 10px;
					font-weight: 400;
				}
			}
			.copy-right {
				direction: rtl;
				width: 100%;
			}
		}
		.Content-Left-Menu {
			width: unset;
			margin-left: 0px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: green;
			.networcs {
				height: 100vh;
				flex-direction: column;
				gap: 1px;
				.eitaa-foter {
					margin-right: 4px;
				}
			}
		}
	}
}
