.admin-navbar-page {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  position: sticky;
  top: 0px;
  .welcome-navbar-admin {
    font-family: iran-5;
    font-size: 10px;
    color: white;
    direction: rtl;
    user-select: none;
  }
  .content-admin-menu-ML {
    width: 8%;
    height: 80%;
    display: flex;
    align-items: center;
    gap: 2%;
    position: relative;
    right: 25px;
    .login-admin {
      width: 40%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      .fa-user-circle {
        font-size: 30px;
        color: white;
        cursor: pointer;
      }
    }
    .messages-admin {
      width: 40%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      .fa-bell {
        font-size: 30px;
        color: white;
        cursor: pointer;
      }
    }
  }
}
