@font-face {
	font-family: "Vazirmatn";
	src: url("/src/fonts/vazirmatn/webfonts/Vazirmatn[wght].woff2") format("woff2 supports variations"),
		url("/src/fonts/vazirmatn/webfonts/Vazirmatn[wght].woff2") format("woff2-variations");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
}

/*style page body in home*/

.bodyHome {
	margin: 0;
	padding: 0;
	/*style page Navbar in home*/
	.Navbar {
		width: 100%;
		height: 65px;
		background-color: green;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 6px 0px 6px 0px;
		font-size: 20px;
		transition: all 1s;
	}
}

/* bodyHome */

@media only screen and (min-width: 300px) and (max-width: 500px) {
	.bodyHome {
		.Navbar {
			width: 100%;
			height: 65px;
			background-color: green;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 6px 0px 6px 0px;
			font-size: 20px;
			transition: all 1s;
			position: sticky;
			top: 0px;
			z-index: 1;
		}
	}
}

/*style page Header in home*/

.HeaderHome {
	width: 100%;
}
