* {
	padding: 0;
	margin: 0;
}
.ResultNewsHeader {
	width: 100%;
	.ResultNewsContainer {
		width: 100%;
		display: flex;
		.ResultNewsContent {
			width: 100%;
			display: flex;
			justify-content: center;
			.Default_News_Container_Left {
				width: 26%;
				padding: 10px;
				.Content-anim-chosen {
					width: 100%;
					height: 40px;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					gap: 10px;
					font-size: 16px;
					font-weight: 450;
					padding: 20px;
					.span-anim-chosen {
						width: 35%;
						text-align: center;
						background-color: green;
						position: relative;
						p {
							color: white;
							margin-left: 17px;
						}
						&.span-anim-chosen::after {
							content: "";
							width: 35px;
							right: -27px;
							bottom: -5px;
							border-radius: 50px;
							background-color: white;
							position: absolute;
							aspect-ratio: 1;
						}
						&.span-anim-chosen::before {
							content: "";
							width: 30px;
							height: 25px;
							left: -12px;
							bottom: 0px;
							transform: skew(-35deg);
							background-color: white;
							position: absolute;
						}
					}
				}
				.ContainerLeft {
					width: 100%;
					padding: 5px;
					.ContainerHeaderLeft {
						width: 100%;
						/* background-color: #eee; */
						background-image: linear-gradient(rgba(22, 168, 3, 0), rgba(229, 245, 8, 0.288));
						border-radius: 5px;
						padding: 10px;
						display: flex;
						justify-content: right;
						position: relative;
						border-radius: 5px;
						margin-top: 5px;

						.NewsContainer-left {
							width: 100%;
							/* display: flex; */
							flex-direction: row-reverse;
							position: relative;

							.NewsContent-left {
								width: 100%;
								text-align: right;
								display: flex;
								flex-direction: column;
								align-items: flex-end;

								.NewsItems-left {
									width: 100%;
									direction: rtl;
									.img-content-left {
										width: 100%;
										.ImgNews-left {
											text-decoration: none;
											cursor: pointer;
											.imgStyleHeader-left {
												width: 50%;
												height: 110px;
												float: right;
												border-radius: 5px;
												margin-left: 10px;
											}
										}
									}

									.RoutingNews-left {
										display: inline;
										.RoutingNewsHeader-left {
											font-family: Vazirmatn;
											font-size: 12px;
											margin-top: 3px;
											font-weight: 400;
										}
										.titleNews-left {
											text-decoration: none;
											.HeadlineNewsHeader-left {
												font-family: Vazirmatn;
												font-size: 12px;
												margin-top: 3px;
												color: green;
												font-weight: 800;
												&.HeadlineNewsHeader-left:hover {
													color: rgb(175, 0, 0);
													transition: all 0.2s;
												}
											}
										}
									}
								}
							}
						}
					}
					.loading-data-1 {
						width: 100%;
						display: flex;
						flex-direction: column;
						gap: 10px;
						section {
							width: 100%;
							height: 100px;
							padding: 10px;
							display: flex;
							align-items: center;
							background-color: #0000002d;
							justify-content: center;
							border-radius: 5px;
						}
					}
				}
			}
			.Result_News_Container_Center {
				width: 48%;
				box-shadow: 1px 1px 5px rgba(0, 128, 0, 0.425), -1px -1px 5px rgba(0, 128, 0, 0.425);
				border-radius: 20px;
				.content-info-news {
					width: 100%;
					height: 50px;
					padding: 20px;
					border-top-left-radius: 20px;
					border-top-right-radius: 20px;
					direction: rtl;
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid rgba(0, 128, 0, 0.212);
					font-size: 13px;
					font-weight: 500;
					.path-news {
						display: flex;
						.back-to-home-page {
							border-left: 1px solid rgba(0, 128, 0, 0.212);
							padding-left: 10px;
							.Link-back-to-home-page {
								text-decoration: none;
								color: green;
							}
						}
						.news-path-category {
							padding-left: 10px;
							padding-right: 10px;
							.Link-news-path-category {
								text-decoration: none;
								color: darkred;
							}
						}
						.news-path-sub-category {
							border-right: 1px solid rgba(0, 128, 0, 0.212);
							padding-right: 10px;
							.Link-news-path-sub-category {
								text-decoration: none;
								color: darkred;
							}
						}
					}
					.delete-edit-news {
						display: flex;
						align-items: center;
						gap: 10px;
						.warning-dele-news {
							width: 50%;
							height: 50vh;
							display: flex;
							flex-direction: column;
							position: fixed;
							left: 25%;
							right: 25%;
							top: 25%;
							bottom: 25%;
							gap: 15px;
							padding: 20px;
							border-radius: 10px;
							color: #fff;
							background-color: rgb(8, 1, 114);
							z-index: 1;
							p:first-child {
								text-align: center;
							}
							span {
								display: flex;
								gap: 10px;
								p:first-child {
									color: red;
								}
							}
							button {
								width: 10%;
								border: none;
								border-radius: 5px;
								padding: 2px;
								cursor: pointer;
								transition: all 0.5s;
							}
							span.btn-dele-cancel {
								width: 100%;
								position: absolute;
								align-items: center;
								justify-content: center;
								bottom: 50px;
								right: 0;
								button:first-child:hover {
									background-color: green;
									color: #fff;
								}
								button:last-child:hover {
									background-color: red;
									color: #fff;
								}
							}
						}
						.Link-delete-news {
							text-decoration: none;
							display: flex;
						}
						.fa-edit,
						.fa-trash {
							border: none;
							font-size: 15px;
							cursor: pointer;
							transition: all 0.3s;
							color: green;
						}
						.fa-edit:hover {
							color: darkred;
						}
						.fa-trash:hover {
							color: darkred;
						}
					}
					.date-eye-section {
						display: flex;
						gap: 10px;
						align-items: center;
						.esy-div {
							color: darkred;
							display: flex;
							align-items: center;
							gap: 5px;
							font-size: 12px;
							border-left: 1px solid rgba(0, 128, 0, 0.212);
							padding-left: 10px;
						}
						.date-news {
							display: flex;
							gap: 10px;
							font-size: 13px;
							span:first-child {
								color: darkred;
								border-left: 1px solid rgba(0, 128, 0, 0.212);
								padding-left: 10px;
							}
							span:last-child {
								color: darkred;
							}
						}
					}
				}
				.Result_News_Content_Center {
					width: 100%;
					padding: 10px;
					.News_Result_Select_User {
						width: 100%;
						.Section_News_Result {
							width: 100%;
							display: flex;
							.News_Result {
								width: 100%;
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								justify-content: center;
								direction: rtl;
								padding: 10px;
								.Title_Result {
									display: flex;
									flex-direction: column;
									align-items: flex-start;
									gap: 5px;
									h6 {
										font-family: Vazirmatn;
										font-size: 14px;
										font-weight: 300;
										border-right: 2px solid red;
										padding-right: 5px;
									}
									h1 {
										font-family: Vazirmatn;
										font-size: 16px;
										border-right: 2px solid green;
										padding-right: 5px;
									}
								}
								.content-center-current-news {
									width: 100%;
									font-size: 14px;
									img {
										width: 100%;
										height: 100%;
										border-radius: 15px;
										background-size: cover;
										margin-top: 10px;
										margin-bottom: 10px;
									}
									.wp-video-shortcode {
										width: 95%;
										height: 100%;
										border-radius: 15px;
										margin-top: 10px;
										margin-bottom: 10px;
										display: flex;
									}
								}
								.Img_Result {
									width: 100%;
									border-radius: 10px;
								}
								.P_News p {
									font-family: Vazirmatn;
									font-size: 14px;
									font-weight: 400;
									margin-top: 15px;
								}
							}
						}
					}
				}
				.info-news {
					width: 100%;
					height: 10vh;
					display: flex;
					align-items: center;
					border-top: 1px solid rgba(0, 128, 0, 0.212);
					direction: rtl;
					justify-content: space-between;
					padding: 10px;
					.info-author {
						display: flex;
						gap: 20px;
						font-size: 12px;
						align-items: center;
						.content-info-author {
							display: flex;
							gap: 5px;
							img {
								width: 35px;
								height: 35px;
								border-radius: 50%;
							}
							section {
								height: 5vh;
								font-size: 11px;
								p:first-child {
									color: green;
									font-weight: 800;
								}
							}
						}
					}
					.left-info {
						display: flex;
						align-items: center;
						gap: 20px;
						font-size: 12px;
						.code-news {
							display: flex;
							gap: 5px;
							font-size: 12px;
							p {
								color: darkred;
							}
						}
						.like-news-user {
							display: flex;
							align-items: center;
							gap: 5px;
							width: 10%;
							color: #000;
							font-size: 12px;
							position: relative;
							i {
								font-size: 15px;
								cursor: pointer;
							}
							span.need-to-login {
								width: 160px;
								position: absolute;
								bottom: 25px;
								left: -20px;
								background-color: #000;
								color: #fff;
								padding: 2px 5px 2px 2px;
								border-radius: 5px;
								border: none;
							}
						}
						.is-liked {
							display: flex;
							align-items: center;
							gap: 5px;
							font-size: 12px;
							width: 10%;
							color: rgb(204, 2, 2);
							i {
								font-size: 15px;
								cursor: pointer;
							}
						}
					}
				}
			}
			.loading-data-2 {
				width: 48%;
				height: 50vh;
				border-radius: 5px;
				padding: 20px;
				display: flex;
				align-items: center;
				box-shadow: 1px 1px 5px rgba(0, 128, 0, 0.425), -1px -1px 5px rgba(0, 128, 0, 0.425);
			}
			.Default_News_Container_Right {
				width: 26%;
				padding: 10px;
				.Content-anim-Special {
					width: 100%;
					height: 40px;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					gap: 10px;
					font-size: 16px;
					font-weight: 450;
					padding: 20px;
					.span-anim-Special {
						width: 40%;
						text-align: center;
						background-color: green;
						position: relative;
						p {
							color: white;
							margin-left: 17px;
						}
						&.span-anim-Special::after {
							content: "";
							width: 35px;
							right: -27px;
							bottom: -5px;
							border-radius: 50px;
							background-color: white;
							position: absolute;
							aspect-ratio: 1;
						}
						&.span-anim-Special::before {
							content: "";
							width: 30px;
							height: 25px;
							left: -12px;
							bottom: 0px;
							transform: skew(-35deg);
							background-color: white;
							position: absolute;
						}
					}
				}
				.ContainerRight {
					width: 100%;
					padding: 5px;
					.ContainerHeaderRight {
						width: 100%;
						background-image: linear-gradient(rgba(22, 168, 3, 0), rgba(229, 245, 8, 0.288));
						border-radius: 5px;
						padding: 10px;
						display: flex;
						justify-content: right;
						position: relative;
						border-radius: 5px;
						margin-top: 5px;
						.NewsContainer-Right {
							width: 100%;
							flex-direction: row-reverse;
							position: relative;
							.NewsContent-Right {
								width: 100%;
								text-align: right;
								display: flex;
								flex-direction: column;
								align-items: flex-end;

								.NewsItems-Right {
									width: 100%;
									direction: rtl;
									.img-content-Right {
										width: 100%;

										.ImgNews-Right {
											text-decoration: none;
											cursor: pointer;
											.imgStyleHeader-Right {
												width: 50%;
												height: 110px;
												float: right;
												border-radius: 5px;
												margin-left: 10px;
											}
										}
									}
									.RoutingNews-Right {
										display: inline;
										.RoutingNewsHeader-Right {
											font-family: Vazirmatn;
											font-size: 12px;
											margin-top: 3px;
											font-weight: 400;
										}
										.titleNews-Right {
											text-decoration: none;

											.HeadlineNewsHeader-Right {
												font-family: Vazirmatn;
												cursor: pointer;
												font-size: 12px;
												margin-top: 3px;
												color: green;
												font-weight: 800;

												&.HeadlineNewsHeader-Right:hover {
													color: rgb(175, 0, 0);
													transition: all 0.2s;
												}
											}
										}
									}
								}
							}
						}
					}
					.loading-data-3 {
						width: 100%;
						display: flex;
						flex-direction: column;
						gap: 10px;
						section {
							width: 100%;
							height: 100px;
							padding: 10px;
							display: flex;
							align-items: center;
							background-color: #0000002d;
							justify-content: center;
							border-radius: 5px;
						}
					}
				}
			}
		}
	}
}
.container-comments {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	direction: rtl;
	flex-direction: column;
	gap: 10px;
	.content-comments {
		width: 48%;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		background-color: green;
		padding: 10px;
		gap: 5px;
		.item-comment {
			display: flex;
			flex-direction: column;
			/* gap: 5px; */
			.info-user {
				display: flex;
				flex-direction: column;
				background-color: #09008659;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				padding: 10px;
				gap: 5px;
				color: #fff;
				font-size: 13px;
				img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}
			}
			.text-comment {
				width: 100%;
				padding: 15px;
				background-color: #09008659;
				border-top: 1px solid rgba(255, 255, 255, 0.247);
				p {
					font-size: 14px;
					font-weight: 300;
					color: #fff;
				}
			}
			.btn-reply-and-likes {
				width: 100%;
				display: flex;
				justify-content: space-between;
				background-color: #09008659;
				align-items: center;
				padding: 8px;
				border-top: 1px solid rgba(126, 128, 0, 0.315);
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				button[type="button"] {
					width: 10%;
					border: none;
					padding: 5px;
					cursor: pointer;
					border-radius: 5px;
					transition: all 0.3s;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 5px;
				}
				button[type="button"]:hover {
					background-color: green;
					color: #fff;
				}
				.div-fa-comment {
					display: flex;
					gap: 5px;
					font-size: 15px;
					span {
						color: #fff;
					}
					span:last-child {
						cursor: pointer;
					}
				}
			}
		}
		.question {
			width: 100%;
			display: flex;
			flex-direction: column;
			.container-reply {
				width: 80%;
				padding: 10px;
				.reply-match-id-comment {
					display: flex;
					flex-direction: column;
					gap: 10px;
					padding: 10px;
					width: 80%;
					background-color: seagreen;
					border: none;
					border-radius: 5px;
					textarea {
						max-width: 100%;
						min-width: 70%;
						max-height: 150px;
						min-height: 100px;
						padding: 10px;
						border: none;
						outline: none;
						font-size: 13px;
						border-radius: 5px;
					}
					button[type="button"] {
						width: 20%;
						border: none;
						padding: 3px;
						cursor: pointer;
						transition: all 0.5s;
						border-radius: 5px;
						outline: none;
					}
					button[type="button"]:hover {
						background-color: green;
						color: #fff;
					}
				}
			}
		}

		.container-info-comment {
			display: flex;
			gap: 5px;
			.warning-delete-comment {
				width: 25%;
				height: 25vh;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 50px;
				transition: all 1s;
				background-color: rgba(0, 92, 0, 0.973);
				border-radius: 5px;
				position: fixed;
				top: 35%;
				bottom: 35%;
				left: 35%;
				right: 35%;
				color: #fff;
				.btn-delete-comment {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 10px;
					button {
						width: 15%;
						border: none;
						border-radius: 5px;
						padding: 3px;
						cursor: pointer;
						transition: all 0.2s;
					}
					button:hover {
						background-color: green;
						color: #fff;
					}
				}
			}
			.but-delete-comment {
				border: none;
				cursor: pointer;
				transition: all 0.5s;
				border-radius: 5px;
				outline: none;
				padding-left: 15px;
				padding-right: 15px;
			}
			.but-delete-comment:hover {
				background-color: green;
				color: #fff;
			}
			.but-edit-comment {
				border: none;
				cursor: pointer;
				transition: all 0.5s;
				border-radius: 5px;
				outline: none;
				padding-left: 15px;
				padding-right: 15px;
			}
			.but-edit-comment:hover {
				background-color: green;
				color: #fff;
			}
			.like-item-container {
				display: flex;
				gap: 20px;
				padding: 5px;
				align-items: center;
				justify-content: center;
				flex-direction: row;
				color: #000;
				background-color: #ffffff88;
				border-radius: 3px;
				padding-bottom: 0px;
				div {
					display: flex;
				}
				.date-comment-content {
					display: flex;
					align-items: center;
					gap: 5px;
					color: #000;
					font-size: 14px;
				}
				.like-comment-content {
					display: flex;
					gap: 10px;
					.like-up,
					.like-down {
						display: flex;
						direction: ltr;
						gap: 5px;
						.color-unlike,
						.color-like {
							color: #fff;
						}
						div {
							cursor: pointer;
						}
						.like-up {
							color: green;
						}
						.like-down {
							color: red;
						}
					}
				}
			}
		}
	}
}
.container-responses {
	width: 80%;
	background-color: rgb(6, 153, 55);
	padding: 10px;
	/* OnUser Comment */
	.content-response {
		display: flex;
		flex-direction: column;
		gap: 10px;
		background-color: rgba(152, 251, 152, 0.219);
		padding: 10px;

		.item-map-responses {
			.info-user-response {
				display: flex;
				flex-direction: column;
				background-color: rgb(0, 50, 107);
				padding: 10px;
				gap: 5px;
				font-size: 12px;
				color: #fff;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				transition: all 0.5s;
				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
				}
				div {
					display: flex;
					gap: 5px;
					color: #fff;
					p:last-child {
						color: rgb(190, 211, 0);
						font-weight: 800;
						cursor: pointer;
					}
				}
			}
			.text-comment-response {
				background-color: rgb(0, 50, 107);
				padding: 10px;
				border-top: 1px solid rgba(0, 0, 0, 0.24);
				font-size: 13px;
				color: #fff;
			}
			.reply-to-response {
				padding: 10px;
				background-color: rgb(0, 50, 107);
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				border-top: 1px solid rgba(255, 255, 0, 0.158);
				display: flex;
				justify-content: space-between;
				gap: 10px;
				font-size: 12px;
				align-items: center;
				color: #fff;
				button.send-btn-response {
					width: 12%;
					border: none;
					border-radius: 5px;
					padding: 3px;
					cursor: pointer;
					transition: all 0.2s;
					display: flex;
					align-items: center;
					gap: 3px;
				}
				button:hover {
					background-color: green;
					color: #fff;
				}
			}
			.edit-btn-time-response {
				display: flex;
				gap: 5px;
				align-items: center;
				justify-content: space-between;
				.but-delete-response {
					border: none;
					cursor: pointer;
					transition: all 0.5s;
					border-radius: 5px;
					outline: none;
					padding: 2px;
					padding-left: 10px;
					padding-right: 10px;
				}
				.but-delete-response:hover {
					background-color: green;
					color: #fff;
				}
				.but-edit-response {
					border: none;
					cursor: pointer;
					transition: all 0.5s;
					border-radius: 5px;
					outline: none;
					padding: 2px;
					padding-left: 10px;
					padding-right: 10px;
				}
				.but-edit-response:hover {
					background-color: green;
					color: #fff;
				}
			}
			.btn-delete-comment {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
				button {
					width: 15%;
					border: none;
					border-radius: 5px;
					padding: 3px;
					cursor: pointer;
					transition: all 0.2s;
				}
				button:hover {
					background-color: green;
					color: #fff;
				}
			}
		}
		/* Lord Comment */
		.item-map-responses-Lord {
			position: relative;
			.info-user-response {
				display: flex;
				flex-direction: column;
				background-color: rgb(0, 63, 27);
				padding: 10px;
				gap: 5px;
				font-size: 12px;
				color: #fff;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				transition: all 0.5s;
				img {
					width: 60px;
					height: 60px;
					border-radius: 50%;
				}
				div {
					display: flex;
					gap: 5px;
					color: #fff;
					p:last-child {
						color: rgb(190, 211, 0);
						font-weight: 800;
						cursor: pointer;
					}
				}
			}
			.text-comment-response {
				background-color: rgb(0, 63, 27);
				padding: 10px;
				border-top: 1px solid rgba(0, 0, 0, 0.24);
				font-size: 13px;
				color: #fff;
			}
			.reply-to-response {
				padding: 10px;
				background-color: rgb(0, 63, 27);
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				border-top: 1px solid rgba(255, 255, 0, 0.158);
				display: flex;
				justify-content: space-between;
				gap: 10px;
				font-size: 12px;
				align-items: center;
				color: #fff;
				button.send-btn-response {
					width: 12%;
					border: none;
					border-radius: 5px;
					padding: 3px;
					cursor: pointer;
					transition: all 0.2s;
					display: flex;
					align-items: center;
					gap: 3px;
				}
				.warning-delete-response {
					width: 25%;
					height: 25vh;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 50px;
					transition: all 1s;
					background-color: rgba(0, 92, 0, 0.973);
					border-radius: 5px;
					position: fixed;
					top: 35%;
					bottom: 35%;
					left: 35%;
					right: 35%;
					color: #fff;
					font-size: 14px;
					.btn-delete-response {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 10px;
						button {
							width: 15%;
							border: none;
							border-radius: 5px;
							padding: 3px;
							cursor: pointer;
							transition: all 0.2s;
						}
						button:hover {
							background-color: green;
							color: #fff;
						}
					}
				}
				button:hover {
					background-color: green;
					color: #fff;
				}
			}
			.edit-btn-time-response {
				display: flex;
				gap: 5px;
				align-items: center;
				justify-content: space-between;
				.but-delete-response {
					border: none;
					cursor: pointer;
					transition: all 0.5s;
					border-radius: 5px;
					outline: none;
					padding: 2px;
					padding-left: 10px;
					padding-right: 10px;
				}
				.but-delete-response:hover {
					background-color: green;
					color: #fff;
				}
				.but-edit-response {
					border: none;
					cursor: pointer;
					transition: all 0.5s;
					border-radius: 5px;
					outline: none;
					padding: 2px;
					padding-left: 10px;
					padding-right: 10px;
				}
				.but-edit-response:hover {
					background-color: green;
					color: #fff;
				}
			}
			.date-response-content {
				display: flex;
				gap: 10px;
				.but-edit-response {
					border: none;
					cursor: pointer;
					transition: all 0.5s;
					border-radius: 5px;
					outline: none;
					padding-left: 15px;
					padding-right: 15px;
				}
				.but-edit-response:hover {
					background-color: green;
					color: #fff;
				}
			}
		}
		.item-map-responses-Lord::before {
			content: "مالک";
			width: 40px;
			height: 18px;
			background-color: #eeeeee3f;
			position: absolute;
			top: 5px;
			left: 5px;
			border-radius: 5px;
			text-align: center;
			font-size: 13px;
			color: #fff;
		}
		/* OnAuthor Comment */
		.item-map-responses-OnAuthor {
			position: relative;
			.info-user-response {
				display: flex;
				flex-direction: column;
				background-color: rgb(100, 0, 0);
				padding: 10px;
				gap: 5px;
				font-size: 12px;
				color: #fff;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				transition: all 0.5s;
				img {
					width: 60px;
					height: 60px;
					border-radius: 50%;
				}
				div {
					display: flex;
					gap: 5px;
					color: #fff;
					p:last-child {
						color: rgb(190, 211, 0);
						font-weight: 800;
						cursor: pointer;
					}
				}
			}
			.text-comment-response {
				background-color: rgb(100, 0, 0);
				padding: 10px;
				border-top: 1px solid rgba(0, 0, 0, 0.24);
				font-size: 13px;
				color: #fff;
			}
			.reply-to-response {
				padding: 10px;
				background-color: rgb(100, 0, 0);
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				border-top: 1px solid rgba(255, 255, 0, 0.158);
				display: flex;
				justify-content: space-between;
				gap: 10px;
				font-size: 12px;
				align-items: center;
				color: #fff;
				button.send-btn-response {
					width: 12%;
					border: none;
					border-radius: 5px;
					padding: 3px;
					cursor: pointer;
					transition: all 0.2s;
				}
				.warning-delete-response {
					width: 25%;
					height: 25vh;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 50px;
					transition: all 1s;
					background-color: rgba(0, 92, 0, 0.973);
					border-radius: 5px;
					position: fixed;
					top: 35%;
					bottom: 35%;
					left: 35%;
					right: 35%;
					color: #fff;
					font-size: 14px;
					.btn-delete-response {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 10px;
						button {
							width: 15%;
							border: none;
							border-radius: 5px;
							padding: 3px;
							cursor: pointer;
							transition: all 0.2s;
						}
						button:hover {
							background-color: green;
							color: #fff;
						}
					}
				}
				button:hover {
					background-color: green;
					color: #fff;
				}
			}
			.edit-btn-time-response {
				display: flex;
				gap: 5px;
				align-items: center;
				justify-content: space-between;
				.but-delete-response {
					border: none;
					cursor: pointer;
					transition: all 0.5s;
					border-radius: 5px;
					outline: none;
					padding: 2px;
					padding-left: 10px;
					padding-right: 10px;
				}
				.but-delete-response:hover {
					background-color: green;
					color: #fff;
				}
				.but-edit-response {
					border: none;
					cursor: pointer;
					transition: all 0.5s;
					border-radius: 5px;
					outline: none;
					padding: 2px;
					padding-left: 10px;
					padding-right: 10px;
				}
				.but-edit-response:hover {
					background-color: green;
					color: #fff;
				}
			}
			.date-response-content {
				display: flex;
				gap: 10px;
				.but-edit-response {
					border: none;
					cursor: pointer;
					transition: all 0.5s;
					border-radius: 5px;
					outline: none;
					padding-left: 15px;
					padding-right: 15px;
				}
				.but-edit-response:hover {
					background-color: green;
					color: #fff;
				}
			}
		}
		.item-map-responses-OnAuthor::before {
			content: "نویسنده";
			width: 55px;
			height: 20px;
			background-color: #eeeeee3f;
			position: absolute;
			top: 5px;
			left: 5px;
			border-radius: 5px;
			text-align: center;
			font-size: 13px;
			color: #fff;
		}
		/* OnUser Writer Comment */
		.item-map-responses-main {
			.info-user-response {
				display: flex;
				flex-direction: column;
				background-color: rgb(0, 87, 75);
				padding: 10px;
				gap: 5px;
				font-size: 12px;
				color: #fff;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				transition: all 0.5s;
				img {
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}
				div {
					display: flex;
					gap: 5px;
					color: #fff;
					p:last-child {
						color: rgb(190, 211, 0);
						font-weight: 800;
						cursor: pointer;
					}
				}
			}
			.text-comment-response {
				background-color: rgb(0, 87, 75);
				padding: 10px;
				border-top: 1px solid rgba(0, 0, 0, 0.24);
				font-size: 13px;
				color: #fff;
			}
			.reply-to-response {
				padding: 10px;
				background-color: rgb(0, 87, 75);
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				border-top: 1px solid rgba(255, 255, 0, 0.158);
				display: flex;
				justify-content: space-between;
				gap: 10px;
				font-size: 12px;
				align-items: center;
				color: #fff;
				button.send-btn-response {
					width: 12%;
					border: none;
					border-radius: 5px;
					padding: 3px;
					cursor: pointer;
					transition: all 0.2s;
					display: flex;
					align-items: center;
					gap: 3px;
				}
				.warning-delete-response {
					width: 25%;
					height: 25vh;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 50px;
					transition: all 1s;
					background-color: rgba(0, 92, 0, 0.973);
					border-radius: 5px;
					position: fixed;
					top: 35%;
					bottom: 35%;
					left: 35%;
					right: 35%;
					color: #fff;
					font-size: 14px;
					.btn-delete-response {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 10px;
						button {
							width: 15%;
							border: none;
							border-radius: 5px;
							padding: 3px;
							cursor: pointer;
							transition: all 0.2s;
						}
						button:hover {
							background-color: green;
							color: #fff;
						}
					}
				}
				button:hover {
					background-color: green;
					color: #fff;
				}
			}
			.edit-btn-time-response {
				display: flex;
				gap: 5px;
				align-items: center;
				justify-content: space-between;
				.but-delete-response {
					border: none;
					cursor: pointer;
					transition: all 0.5s;
					border-radius: 5px;
					outline: none;
					padding: 2px;
					padding-left: 10px;
					padding-right: 10px;
				}
				.but-delete-response:hover {
					background-color: green;
					color: #fff;
				}
				.but-edit-response {
					border: none;
					cursor: pointer;
					transition: all 0.5s;
					border-radius: 5px;
					outline: none;
					padding: 2px;
					padding-left: 10px;
					padding-right: 10px;
				}
				.but-edit-response:hover {
					background-color: green;
					color: #fff;
				}
			}
		}
	}
}

.container-comment {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	direction: rtl;
	.content {
		width: 48%;
		padding: 10px;
		background-color: green;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		.content-comment-form {
			width: 100%;
			.form-comment {
				direction: rtl;
				form {
					display: flex;
					flex-direction: column;
					gap: 5px;
					input[type="button"] {
						width: 20%;
						cursor: pointer;
						border: none;
						border-radius: 5px;
						padding: 3px;
						transition: all 0.3s;
						outline: none;
					}
					input[type="button"]:hover {
						background-color: rgb(148, 1, 1);
						color: white;
					}
				}
				form > textarea {
					width: 90%;
					max-width: 100%;
					min-width: 50%;
					min-height: 150px;
					max-height: 250px;
					padding: 10px;
					outline: none;
					border: none;
					border-radius: 10px;
				}
			}
		}
	}
	.content-login-and-register {
		width: 100%;
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 12px;
		.Link {
			width: 14%;
			text-decoration: none;
			button {
				width: 100%;
				border: none;
				border-radius: 5px;
				transition: all 0.5s;
				cursor: pointer;
			}
			button:hover {
				background-color: darkred;
				color: #fff;
			}
		}
	}
}
.fa-arrow-circle-up {
	position: fixed;
	right: 50px;
	bottom: 50px;
	font-size: 20px;
	cursor: pointer;
	color: green;
	background-color: #000;
	padding: 10px;
	border-radius: 50%;
	z-index: 1;
}
.img {
	width: 300px;
	height: 200px;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
	.ResultNewsHeader {
		.ResultNewsContainer {
			.ResultNewsContent {
				flex-direction: column;
				align-items: center;
				:nth-child(2) {
					order: -1;
				}
				.loading-data-2 {
					width: 95%;
					height: 250px;
					margin-top: 15px;
				}
				.Result_News_Container_Center {
					width: 96%;
					margin-top: 15px;
					.info-news {
						direction: unset;
						.info-author {
							.content-info-author {
								direction: rtl;
								img {
									order: -1;
								}
							}
						}
						.left-info {
							gap: 30px;
							.code-news {
								direction: rtl;
								border-left: 1px solid rgba(0, 128, 0, 0.212);
								padding-left: 12px;
							}
						}
					}
					.Result_News_Content_Center {
						.News_Result_Select_User {
							.Section_News_Result {
								.News_Result {
									padding: 5px;
									.content-center-current-news {
										img {
											height: 250px;
											margin-bottom: unset;
											margin-top: unset;
										}
									}
								}
							}
						}
					}
					.content-info-news {
						padding: 10px;
						direction: unset;
						.date-eye-section {
							gap: 5px;
							direction: rtl;
							.date-news {
								display: flex;
								gap: 5px;
								font-size: 13px;
								align-items: center;
								padding-left: 10px;
								border-left: 1px solid rgba(0, 128, 0, 0.212);
								i {
									color: darkred;
									order: -1;
								}
							}
							.esy-div {
								padding-right: 5px;
								border-left: unset;
							}
						}
						.delete-edit-news {
							order: 0;
							border-left: 1px solid rgba(0, 128, 0, 0.212);
						}
						.path-news {
							direction: ltr;
						}
					}
				}
				.Default_News_Container_Left {
					width: 100%;
					.Content-anim-chosen {
						justify-content: flex-start;
						direction: rtl;
					}
					.ContainerLeft {
						.ContainerHeaderLeft {
							padding: unset;
							background-image: unset;
							.NewsContainer-left {
								.NewsContent-left {
									.NewsItems-left {
										width: 100%;
										direction: rtl;
										display: flex;
										flex-direction: column-reverse;
										.img-content-left {
											.ImgNews-left {
												.imgStyleHeader-left {
													width: 100%;
													height: 250px;
													border-radius: 15px;
												}
											}
										}
										.RoutingNews-left {
											padding: 10px;
										}
									}
								}
							}
						}
					}
				}
				.Default_News_Container_Right {
					width: 100%;
					& .ContainerRight {
						& .ContainerHeaderRight {
							padding: unset;
							background-image: unset;
							.NewsContainer-Right {
								.NewsContent-Right {
									.NewsItems-Right {
										display: flex;
										flex-direction: column-reverse;
										.img-content-Right {
											.ImgNews-Right {
												.imgStyleHeader-Right {
													width: 100%;
													height: 250px;
													border-radius: 15px;
												}
											}
										}
										.RoutingNews-Right {
											padding: 10px;
										}
									}
								}
							}
						}
					}
					.Content-anim-Special {
						direction: rtl;
						justify-content: flex-start;
					}
				}
			}
		}
	}
	.container-comment {
		.content {
			width: 95%;
		}
	}
}
