.bodyHederHome {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Vazirmatn;
	.content-title-chosen {
		width: 95%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;
		font-size: 16px;
		font-weight: 450;
		padding: 10px 0px 10px 0px;
		.test {
			width: 100%;
			height: 25px;
			background-color: rgba(0, 128, 0, 0.349);
			display: flex;
			justify-content: flex-end;
			position: relative;
			.span {
				width: 25px;
				height: 25px;
				background-color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				border-top-left-radius: 50px;
				border-bottom-left-radius: 50px;
				border-right: 50px;
			}
			&.test::after {
				content: "";
				width: 2%;
				height: 25px;
				right: 7%;
				background-color: green;
				position: absolute;
				aspect-ratio: 1;
				transform: skew(-35deg);
			}
			&.test::before {
				content: "";
				width: 35px;
				height: 25px;
				left: -10px;
				background-color: white;
				position: absolute;
				aspect-ratio: 1;
				transform: skew(-35deg);
			}
			.span-title-chosen {
				width: 6%;
				text-align: center;
				background-color: green;
				position: relative;
				p {
					color: white;
				}
				&.span-title-chosen::after {
					content: "";
					width: 35px;
					right: -30px;
					bottom: -5px;
					border-radius: 50px;
					background-color: white;
					position: absolute;
					aspect-ratio: 1;
				}
			}
		}
	}
	.Gallery-Row-Slider,
	.Gallery-reading-content {
		width: 95%;
		border-radius: 5px;
		padding-bottom: 1%;
		display: flex;
		.Content-Gallery {
			width: 20%;
			margin-right: 5px;
			position: relative;
			padding: 5px;
			img {
				width: 100%;
				height: 150px;
				border-radius: 5px;
				cursor: pointer;
				background-size: cover;
			}
			.Content-Texts-Dallery {
				display: flex;
				flex-direction: column;
				gap: 5px;
				.RoutingNewsHeader-Gallery {
					font-size: 13px;
					font-weight: 400;
					direction: rtl;
					color: #000;
					border-right: 1px solid red;
					padding-right: 5px;
				}
				.HeadlineNewsHeader-Gallery {
					font-weight: 800;
					font-size: 13px;
					direction: rtl;
					cursor: pointer;
					color: #000;
					word-break: break-word;
					text-decoration: none;
					padding-right: 5px;
					&.HeadlineNewsHeader-Gallery:hover {
						color: green;
					}
				}
			}
		}
	}
	.loading-data-6 {
		width: 95%;
		height: 200px;
		display: flex;
		gap: 6px;
		section {
			width: 100%;
			height: 150px;
			padding: 10px;
			display: flex;
			align-items: center;
			background-color: #0000002d;
			justify-content: center;
			border-radius: 5px;
		}
	}
	.Container-Slider {
		width: 95%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.container-ticker {
			width: 100%;
			height: 5vh;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			font-size: 12px;
			.content-ticker {
				width: 50%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				direction: rtl;
				i {
					position: absolute;
					right: 5px;
					color: green;
				}
				span {
					width: 100%;
					height: 100%;
					background-color: #fff;
					animation: Ticker 10s infinite linear;
					position: absolute;
					right: 5px;
				}
				.link-ticker {
					width: 50%;
					right: 20px;
					position: absolute;
					cursor: pointer;
					text-decoration: none;
					color: #000;
				}
				p:hover {
					color: darkred;
				}
			}
		}
		.ContentSlider {
			width: 100%;
			height: 450px;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			border-radius: 5px;
			position: relative;

			.ItemsSliderTextLeft {
				width: 25%;
				margin-right: 5px;
				.ContainerTextLeft {
					width: 98%;
					/* height: 400px; */
					font-family: Vazirmatn;
					font-size: 13px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.Content-Item-full-viewers {
						width: 100%;
						height: 40px;
						display: flex;
						justify-content: flex-end;
						align-items: center;
						gap: 10px;
						font-size: 16px;
						font-weight: 450;
						padding: 20px;
						.span-title-full-viewers {
							width: 65%;
							text-align: center;
							background-color: green;
							position: relative;
							p {
								color: white;
								margin-left: 17px;
							}
							&.span-title-full-viewers::after {
								content: "";
								width: 35px;
								right: -27px;
								bottom: -5px;
								border-radius: 50px;
								background-color: white;
								position: absolute;
								aspect-ratio: 1;
							}
							&.span-title-full-viewers::before {
								content: "";
								width: 30px;
								height: 25px;
								left: -12px;
								bottom: 0px;
								transform: skew(-35deg);
								background-color: white;
								position: absolute;
							}
						}
					}

					.ContentTextLeft {
						width: 100%;
						height: 374px;
						font-family: Vazirmatn;
						font-size: 13px;
						/* background-color: rgba(3, 500, 1, 0.12); */
						border-radius: 0% 15% 0% 15%;
						overflow-y: auto;
						/* overflow-x: hidden; */
						direction: rtl;
						scrollbar-width: thin;
						scrollbar-color: rgb(199, 10, 3) rgba(179, 0, 0, 0);
						.TextLeft {
							width: 100%;
							height: 374px;
							padding: 20px;
							scrollbar-color: #029b0f rgba(17, 34, 85, 0);
							display: flex;
							flex-direction: column;
							gap: 10px;
							.li-full-see {
								.link {
									display: inline-flex;
									text-decoration: none;
									list-style-type: none;
									p {
										/* cursor: pointer; */
										width: 250px;
										white-space: nowrap;
										overflow: hidden;
										text-overflow: ellipsis;
										padding-right: 5px;
										padding-left: 5px;
										border-radius: 5px;
										color: green;
									}
									p:visited {
										display: inline-flex;
										color: green;
									}
									p:hover {
										color: red;
										transition: all 0.3s;
										background: #66ff66;
									}
								}
							}
						}
						.loading-data-4 {
							width: 100%;
							display: flex;
							flex-direction: column;
							gap: 5px;
							section {
								width: 100%;
								height: 35px;
								padding: 10px;
								display: flex;
								align-items: center;
								background-color: #0000002d;
								justify-content: center;
								border-radius: 5px;
							}
						}
					}
				}
			}
			.ItemsSlider {
				width: 100%;
				height: 100%;
				display: grid;
				grid-template-columns: 35% auto;
				gap: 10px 15px;
				.imgCenter0 {
					grid-column: 2;
					grid-row: 3 / 1;
				}
				.milad {
					position: relative;
					background-color: #029b0f;
					display: flex;
					justify-content: center;
					border-radius: 20px;
					direction: rtl;
					.link-slider-img,
					img {
						width: 100%;
						height: 100%;
						position: absolute;
						border-radius: 15px;
						background-size: cover;
					}
				}
				.TextImgCenter {
					width: 100%;
					position: absolute;
					bottom: 0px;
					padding: 12px;
					border-end-end-radius: 15px;
					border-bottom-right-radius: 15px;

					background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 50%);
					&.TextImgCenter:hover {
						background: linear-gradient(to bottom, rgba(10, 130, 0, 0) 0%, rgba(57, 85, 35, 0.4) 50%);
					}
					.TextImg-1 {
						text-align: start;
						color: white;
						padding: 10px;
						margin-bottom: -15px;
						p {
							border-right: 2px solid red;
							padding: 5px;
							font-size: 14px;
							font-weight: 400;
						}
					}
					.TextImg-2 {
						text-align: start;
						padding: 10px;
						.link-slider-title {
							color: #fff;
							text-decoration: none;
							p {
								border-right: 2px solid green;
								padding-right: 5px;
								font-weight: 700;
								font-size: 17px;
							}
							a:visited {
								color: #fff;
							}
						}
					}
				}
			}
		}
		.loading-data-5 {
			width: 100%;
			display: flex;
			gap: 10px;
			section:first-child {
				width: 35%;
				height: 100%;
				display: flex;
				flex-direction: column;
				gap: 10px;
				span {
					width: 100%;
					height: 100%;
					background-color: #0000002d;
					justify-content: center;
					border-radius: 5px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 5px;
				}
			}
			section:last-child {
				width: 65%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #0000002d;
				border-radius: 5px;
			}
		}
	}
	.Container-Header {
		width: 95%;
		display: flex;
		flex-direction: row;
		box-shadow: 1px 1px 5px rgba(0, 128, 0, 0.425), -1px -1px 5px rgba(0, 128, 0, 0.425);
		border-radius: 20px;
		.content-title-political-and-social {
			width: 100%;
			height: 40px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 10px;
			font-size: 16px;
			font-weight: 450;
			padding: 20px;
			.span-title-political-and-social {
				width: 35%;
				height: 25px;
				text-align: center;
				background-color: green;
				position: relative;
				p {
					color: white;
					margin-left: 17px;
				}
				&.span-title-political-and-social::after {
					content: "";
					width: 35px;
					right: -27px;
					bottom: -5px;
					border-radius: 50px;
					background-color: white;
					position: absolute;
					aspect-ratio: 1;
				}
				&.span-title-political-and-social::before {
					content: "";
					width: 30px;
					height: 25px;
					left: -12px;
					bottom: 0px;
					transform: skew(-35deg);
					background-color: #f3fcef;
					position: absolute;
				}
			}
		}
		.ContainerRight {
			width: 75%;
			padding: 20px;
			.content-title-special-news {
				width: 100%;
				height: 40px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 10px;
				font-size: 16px;
				font-weight: 450;
				padding: 20px;
				.span-title-special-news {
					width: 20%;
					height: 25px;
					text-align: center;
					background-color: green;
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					p {
						color: white;
						margin-left: 17px;
					}
					&.span-title-special-news::after {
						content: "";
						width: 35px;
						right: -27px;
						bottom: -5px;
						border-radius: 50px;
						background-color: white;
						position: absolute;
						aspect-ratio: 1;
					}
					&.span-title-special-news::before {
						content: "";
						width: 30px;
						height: 25px;
						left: -12px;
						bottom: 0px;
						transform: skew(-35deg);
						background-color: white;
						position: absolute;
					}
				}
			}

			.containerHeaderRight {
				width: 100%;
				.NewsContainer {
					width: 100%;
					display: flex;
					flex-direction: row-reverse;
					position: relative;
					flex-direction: column;
					border-radius: 5px;
					div.NewsContent {
						padding-top: 10px;
						padding-bottom: 10px;
						border-bottom: 1px solid rgba(0, 128, 0, 0.315);
					}
					.NewsContent {
						width: 100%;
						text-align: right;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						.NewsItems {
							width: 100%;
							direction: rtl;
							position: relative;
							.img-content {
								width: 100%;
								.ImgNews {
									text-decoration: none;
									cursor: pointer;
									.imgStyleHeader {
										width: 35%;
										height: 200px;
										float: right;
										border-radius: 5px;
										margin-left: 10px;
										background-size: cover;
									}
								}
							}

							.RoutingNews {
								.RoutingNewsHeader {
									font-family: Vazirmatn;
									font-size: 15px;
									margin-top: 3px;
									font-weight: 400;
									color: #000;
								}

								.HeadlineNewsHeader {
									text-decoration: none;
									h1 {
										font-family: Vazirmatn;
										cursor: pointer;
										font-size: 15px;
										margin-top: 3px;
										font-weight: 600;
										color: green;
									}
									h1:hover {
										color: rgb(185, 2, 2);
										transition: all 0.2s;
									}
								}

								.abstractNews {
									/* width: 100%; */
									word-break: break-word;
									.AbstractNewsHeader {
										font-family: Vazirmatn;
										font-size: 14px;
										font-weight: 400;
										margin-top: 3px;
										user-select: text;
									}
								}
							}
						}
					}
				}
			}
			.loading-data-9 {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 10px;
				section {
					width: 100%;
					height: 250px;
					padding: 10px;
					display: flex;
					align-items: center;
					background-color: #0000002d;
					justify-content: center;
					border-radius: 5px;
				}
			}
		}

		/* start style containerHeaderLeft  */

		.ContainerLeft {
			width: 30%;
			margin-right: 25px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			background-color: #f3fcef;
			border-bottom-left-radius: 20px;
			border-top-left-radius: 20px;
			.content-title-note {
				width: 100%;
				height: 40px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 10px;
				font-size: 16px;
				font-weight: 450;
				padding: 20px;
				.span-title-note {
					width: 40%;
					height: 25px;
					text-align: center;
					background-color: green;
					position: relative;
					p {
						color: white;
						margin-left: 17px;
					}
					&.span-title-note::after {
						content: "";
						width: 35px;
						right: -27px;
						bottom: -5px;
						border-radius: 50px;
						background-color: white;
						position: absolute;
						aspect-ratio: 1;
					}
					&.span-title-note::before {
						content: "";
						width: 30px;
						height: 25px;
						left: -12px;
						bottom: 0px;
						transform: skew(-35deg);
						background-color: #f3fcef;
						position: absolute;
					}
				}
			}
			.container-note {
				width: 100%;
				padding-top: 20px;
				.content-note {
					width: 100%;
					display: grid;
					grid-template-columns: 25% auto;
					direction: rtl;
					margin-top: 10px;
					padding: 15px;
					position: relative;
					column-gap: 10px;
					/* background-color: #eee; */
					border-radius: 5px;
					.content-writer {
						grid-column: 1;
						img {
							width: 100px;
							height: 100px;
							border-radius: 50%;
							background-size: cover;
						}
					}
					.content-write {
						/* background-color: aquamarine; */
						grid-column: 2;
						display: flex;
						flex-direction: column;
						gap: 10px;
						.titre-note {
							font-size: 14px;
							font-weight: 400;
						}
						.comment-note {
							padding-right: 15px;
							font-size: 14px;
							font-weight: 800;
							a {
								text-decoration: none;
								color: #000;
							}
							a:visited {
								color: #000;
							}
						}
					}
				}
			}
			.loading-data-7 {
				width: 100%;
				padding: 10px;
				section {
					width: 100%;
					height: 35px;
					padding: 10px;
					display: flex;
					align-items: center;
					background-color: #0000002d;
					justify-content: center;
					border-radius: 5px;
				}
			}
			.line-Center {
				width: 100%;
				height: 25px;
				background-color: green;
				margin-bottom: 10px;
				margin-top: 10px;
				position: relative;
				&.line-Center::after {
					content: "";
					width: 12%;
					aspect-ratio: 1;
					background-color: green;
					position: absolute;
					right: -6px;
					bottom: -7px;
					border-radius: 50%;
				}
				&.line-Center::before {
					content: "";
					width: 10%;
					aspect-ratio: 1;
					background-color: green;
					/* background-color: blue; */
					position: absolute;
					left: -6px;
					bottom: -4px;
					border-radius: 50%;
				}
			}
			.Container-political {
				width: 100%;
				border-radius: 5px;
				.Container-Header-Left {
					direction: rtl;
					display: flex;
					flex-direction: column;
					gap: 10px;
					border-radius: 5px;
					margin-top: 10px;
					.News-Container-left {
						position: relative;
						border-bottom: 1px solid rgba(0, 128, 0, 0.212);
						padding-right: 10px;
						padding-left: 10px;
						.Routing-News-Header-left {
							text-decoration: none;
							p {
								width: 100%;
								font-size: 13.5px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								font-weight: 400;
								cursor: pointer;
								margin-bottom: 3px;
								margin-top: -3px;
								color: #000;
							}
							p:visited {
								color: #029b0f;
							}
							p:hover {
								color: #029b0f;
							}
						}
					}
				}
				.loading-data-8 {
					width: 100%;
					padding: 10px;
					display: flex;
					flex-direction: column;
					gap: 5px;
					section {
						width: 100%;
						height: 35px;
						display: flex;
						align-items: center;
						background-color: #0000002d;
						justify-content: center;
						border-radius: 5px;
					}
				}
			}
			.ContainerHeaderLeft {
				width: 100%;
				/* background-color: #eee; */
				background-image: linear-gradient(rgba(22, 168, 3, 0), rgba(229, 245, 8, 0.288));
				border-radius: 5px;
				padding: 10px;
				display: flex;
				justify-content: right;
				position: relative;
				border-radius: 5px;
				margin-top: 5px;

				.NewsContainer-left {
					width: 100%;
					position: relative;
					.NewsContent-left {
						width: 100%;
						text-align: right;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						.NewsItems-left {
							width: 100%;
							direction: rtl;
							.img-content-left {
								width: 100%;
								.ImgNews-left {
									text-decoration: none;
									cursor: pointer;
									.imgStyleHeader-left {
										width: 50%;
										height: 120px;
										float: right;
										border-radius: 5px;
										margin-left: 10px;
									}
								}
							}

							.RoutingNews-left {
								display: inline;

								.RoutingNewsHeader-left {
									font-family: Vazirmatn;
									font-size: 10px;
									margin-top: 3px;
								}
								p {
									color: #000;
								}
								a {
									text-decoration: none;
									font-family: Vazirmatn;
									cursor: pointer;
									font-size: 14px;
									font-weight: 800;
									margin-top: 3px;
									color: #000;
								}
								a:hover {
									color: rgb(202, 0, 0);
									transition: all 0.2s;
								}
							}
						}

						.authorNews-left {
							background-color: #fff;
							border-radius: 5px;
							margin-top: 15px;
							display: flex;
							justify-content: center;
							align-items: center;

							.AuthorNewsHeader-left {
								font-family: Vazirmatn;
								padding: 1px 5px 1px 5px;
							}

							.CommonStyleToAuthor-left {
								font-size: 10px;
								color: rgb(196, 1, 1);
							}
						}
					}
				}
			}
		}
	}
	.content-title-reading-content {
		width: 95%;
		height: 40px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 10px;
		font-size: 16px;
		font-weight: 450;
		padding: 20px;
		.span-title-reading-content {
			width: 14%;
			height: 25px;
			text-align: center;
			background-color: green;
			position: relative;
			p {
				color: white;
				margin-left: 17px;
			}
			&.span-title-reading-content::after {
				content: "";
				width: 35px;
				right: -27px;
				bottom: -5px;
				border-radius: 50px;
				background-color: white;
				position: absolute;
				aspect-ratio: 1;
			}
			&.span-title-reading-content::before {
				content: "";
				width: 30px;
				height: 25px;
				left: -12px;
				bottom: 0px;
				transform: skew(-35deg);
				background-color: white;
				position: absolute;
			}
		}
	}
	.container-videos-title {
		width: 95%;
		height: 30vh;
		background-color: rgb(4, 17, 199);
	}
}
/* wite media query */
@media (max-width: 500px) {
	.bodyHederHome {
		.Gallery-Row-Slider,
		.Gallery-reading-content {
			width: 97%;
			border-radius: 5px;
			padding-bottom: 1%;
			display: flex;
			flex-direction: column;
			.Content-Gallery {
				width: 100%;
				margin-right: 5px;
				position: relative;
				padding: 5px;
				img {
					width: 100%;
					height: 250px;
					border-radius: 5px;
					cursor: pointer;
					background-size: cover;
				}
				.Content-Texts-Dallery {
					display: flex;
					flex-direction: column;
					gap: 5px;
					.RoutingNewsHeader-Gallery {
						font-size: 13px;
						font-weight: 400;
						direction: rtl;
						color: #000;
						border-right: 1px solid red;
						padding-right: 5px;
					}
				}
			}
		}
		.loading-data-6 {
			flex-direction: column;
			height: unset;
			margin-bottom: 10px;
		}
		.Container-Slider {
			.container-ticker {
				.content-ticker {
					width: 100%;
					i {
						right: 0px;
					}
					.link-ticker {
						right: 15px;
					}
				}
			}
			.ContentSlider {
				height: unset;
				flex-wrap: wrap-reverse;
				.ItemsSliderTextLeft {
					width: 100%;
					.ContainerTextLeft {
						width: 100%;
						.Content-Item-full-viewers {
							padding: 10px;
							.span-title-full-viewers {
								width: 30%;
								p {
									font-size: 14px;
								}
								&.span-title-full-viewers::after {
									bottom: -6px;
								}
							}
						}

						.ContentTextLeft {
							height: unset;
							overflow-y: unset;
							.TextLeft {
								height: unset;
								padding: unset;
								.li-full-see {
									.link {
										p {
											width: 350px;
										}
									}
								}
							}
						}
					}
				}
				.ItemsSlider {
					grid-template-columns: auto auto;
					gap: 8px 8px;
					.imgCenter0 {
						grid-column: 1 / 3;
					}
					.imgCenter1 > a > img {
						height: 150px;
					}
					.imgCenter2 > a > img {
						height: 150px;
					}
					.milad {
						position: unset;
						background-color: unset;
						display: inline-table;
						.link-slider-img,
						img {
							position: unset;
							height: 280px;
						}
					}
					.TextImgCenter {
						position: unset;
						padding: unset;
						background: unset;
						&.TextImgCenter:hover {
							background: unset;
						}
						.TextImg-1 {
							color: #000;
							padding: unset;
							p {
								font-size: 12px;
								font-weight: 400;
							}
						}
						.TextImg-2 {
							padding: 15px 0px;
							.link-slider-title {
								color: #000;
								p {
									font-size: 12px;
									font-weight: 800;
								}
							}
						}
					}
				}
			}
			.loading-data-5 {
				width: 100%;
				display: flex;
				flex-wrap: wrap-reverse;
				gap: 10px;
				section:first-child {
					width: 100%;
					height: 150px;
					display: flex;
					flex-direction: unset;
					gap: 10px;
					span {
						width: 100%;
						height: 100%;
						background-color: #0000002d;
						justify-content: center;
						border-radius: 5px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 5px;
					}
				}
				section:last-child {
					width: 100%;
					height: 250px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: #0000002d;
					border-radius: 5px;
				}
			}
		}
		.Container-Header {
			flex-direction: column;
			.ContainerRight {
				width: 100%;
				padding: 10px;
				.content-title-special-news {
					.span-title-special-news {
						width: 40%;
						font-weight: 300;
						font-size: 14px;
					}
				}
				.containerHeaderRight {
					.NewsContainer {
						.NewsContent {
							.NewsItems {
								display: flex;
								flex-direction: column;
								.img-content {
									.ImgNews {
										.imgStyleHeader {
											width: 100%;
											height: 250px;
										}
									}
								}
							}
						}
					}
				}
			}
			.ContainerLeft {
				width: 100%;
				margin-right: 25px;
				display: flex;
				flex-direction: column;
				gap: 10px;
				background-color: #f3fcef;
				border-radius: 20px;
			}
		}
		.content-title-chosen {
			.test {
				width: 100%;
				height: 25px;
				background-color: rgba(0, 128, 0, 0.349);
				display: flex;
				justify-content: flex-end;
				position: relative;
				.span {
					width: 25px;
					height: 25px;
					background-color: white;
					display: flex;
					align-items: center;
					justify-content: center;
					border-top-left-radius: 50px;
					border-bottom-left-radius: 50px;
					border-right: 50px;
				}
				&.test::after {
					content: "";
					width: 6%;
					height: 25px;
					right: 24%;
					background-color: green;
					position: absolute;
					aspect-ratio: 1;
					transform: skew(-35deg);
				}
				&.test::before {
					content: "";
					width: 35px;
					height: 25px;
					left: -10px;
					background-color: white;
					position: absolute;
					aspect-ratio: 1;
					transform: skew(-35deg);
				}
				.span-title-chosen {
					width: 20%;
					text-align: center;
					background-color: green;
					position: relative;
					p {
						color: white;
					}
					&.span-title-chosen::after {
						content: "";
						width: 35px;
						right: -30px;
						bottom: -5px;
						border-radius: 50px;
						background-color: white;
						position: absolute;
						aspect-ratio: 1;
					}
				}
			}
		}
		.span-title-chosen {
			p {
				color: white;
			}
		}
	}
}

/* animations */

@keyframes Ticker {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
