.content-profile-admin {
  width: 85%;
  height: 95vh;
  padding: 15px;
  float: right;
  direction: rtl;
  display: flex;
  border-radius: 5px;
  gap: 10px;
  flex-direction: column;
  margin-top: 0.2%;
  background-color: green;
  .image-admin {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: bisque;
    user-select: none;
  }
  .admin-name {
    font-family: iran-2;
    font-size: 15px;
  }
  .admin-title {
    font-family: iran-4;
    font-size: 15px;
  }
  .admin-Bio {
    width: 60%;
    text-align: justify;
    font-family: iran-5;
    font-size: 12.5px;
  }
}
