.admin-navbar-page {
	width: 100%;
	height: 6vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: green;
	position: sticky;
	top: 0px;
	z-index: 10;
	.welcome-navbar-admin {
		font-family: Vazirmatn;
		font-size: 8px;
		color: white;
		direction: rtl;
		user-select: none;
	}

	.login-admin {
		margin-right: 2%;
		position: relative;
		.fa-user-circle {
			font-size: 25px;
			color: white;
			cursor: pointer;
		}
		.Show-LoginProfile-Lord {
			width: 10%;
			padding: 5px;
			background-color: rgba(0, 0, 0, 0.616);
			color: white;
			border-radius: 5px;
			position: fixed;
			right: 5px;
			gap: 5px;
			display: none;
			flex-direction: column;
			align-items: end;
			justify-content: center;
			font-family: Vazirmatn;
			font-size: 12px;
			&.Show-LoginProfile-Lord a {
				width: 60%;
				border-radius: 5px;
				background-color: white;
				color: black;
				list-style-type: none;
				text-decoration: none;
				text-align: right;
				padding: 5px;
			}
			a:hover {
				background-color: aqua;
			}
			h3 {
				direction: rtl;
			}
		}
		&.login-admin:hover {
			& .Show-LoginProfile-Lord {
				display: flex;
			}
		}
	}

	.messages-admin {
		margin-left: 2%;
		.Link {
			text-decoration: none;
		}
		.span-notification-comment {
			width: 10px;
			height: 10px;
			background-color: red;
		}
		.fa-comment-alt {
			font-size: 20px;
			color: white;
		}
	}
}

@media screen and (max-width: 500px) {
	.admin-navbar-page {
		.messages-admin {
			/* width: 100%; */
			display: flex;
			align-items: centers;
			justify-content: space-between;
			gap: 15px;
			.open-menu-admin {
				width: 30px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				gap: 7px;
				div {
					width: 100%;
					height: 1px;
					background-color: #fff;
					transition: all 0.5s;
				}
				&.milad {
					div {
						transition: all 0.5s;
						width: 100%;
						height: 1px;
						background-color: #fff;
						&:nth-child(1) {
							transform: rotate(45deg);
						}
						&:nth-child(2) {
							display: none;
						}
						&:nth-child(3) {
							transform: rotate(-45deg);
							margin-top: -8px;
						}
					}
				}
			}
		}
	}
}
