.container-add-news {
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	user-select: none;
	box-sizing: border-box;
	.status-comment-container {
		width: 100%;
		padding: 15px;
		direction: rtl;
		background-color: green;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		gap: 15px;
		.top-access {
			display: flex;
			justify-content: space-between;
			button {
				padding: 5px;
			}
		}
		.select-comment {
			width: 80%;
			background-color: darkcyan;
			display: flex;
			align-items: center;
			padding: 10px;
			border-radius: 5px;
			justify-content: space-between;
			position: relative;
			flex-direction: column;
			.success-verification {
				display: none;
				color: green;
			}
			.content-select {
				display: flex;
				flex-direction: column;
				section {
					h6 {
						/* padding: 5px; */
						color: #fff;
					}
					p {
						width: 100%;
						padding: 5px;
					}
				}
			}
			.btn-comment-select {
				width: 20%;
				left: 10px;
				bottom: 10px;
				display: flex;
				gap: 5px;
				button {
					width: 100%;
					padding: 5px;
					border: none;
					border-radius: 10px;
					cursor: pointer;
				}
			}
		}
		.content-table-comment {
			width: 100%;
			border-collapse: collapse;
			.titles-table-comment {
				th {
					border-right: 1px solid #acaf003b;
					border-left: 1px solid #acaf003b;
					border-top: 1px solid #acaf003b;
					padding: 5px;
					text-align: start;
					font-size: 14px;
					color: white;
				}
			}
			.content-map-comment {
				.map-comment {
					background-color: white;
					&.map-comment:hover {
						background-color: #d1d1d1;
						transition: all 0.3s;
					}
					.count-comment {
						text-align: center;
					}
					.img-user-comment {
						width: 100%;
						height: 35px;
						border-right: 1px solid #acaf003b;
						text-align: center;
						display: flex;
						align-items: center;
						justify-content: center;
						img {
							width: 30px;
							height: 30px;
							border-radius: 50%;
						}
					}
					.name-user-comment {
						text-align: center;
						font-size: 13px;
						padding: 5px;
						border-right: 1px solid #acaf003b;
					}
					.text-comment-news {
						padding-right: 6px;
						border-right: 1px solid #acaf003b;
						p {
							width: 150px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							font-size: 12px;
						}
					}
					.titre-news-comment,
					.title-news-comment {
						border-right: 1px solid #acaf003b;
						text-align: center;
						font-size: 13px;
						padding: 5px;
						p {
							width: 150px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							font-size: 12px;
						}
					}
					.category-news-comment {
						border-right: 1px solid #acaf003b;
						text-align: center;
						font-size: 13px;
						padding: 5px;
					}
					.date-comment {
						border-right: 1px solid #acaf003b;
						text-align: center;
						font-size: 13px;
						padding: 5px;
						.Date {
							color: rgb(173, 0, 150);
						}
						.Time {
							color: blue;
						}
					}
					.btn-action-comment {
						.delete-comment,
						.cancel-comment {
							padding: 5px 15px 5px 15px;
							cursor: pointer;
							border: none;
							border-radius: 5px;
							margin-left: 5px;
						}
						.cancel-comment:hover {
							background-color: black;
							color: white;
							transition: all 0.5s;
						}
						.delete-comment:hover {
							background-color: red;
							color: white;
							transition: all 0.5s;
						}
					}
				}
			}
			.delete-news,
			.cancel-news {
				padding: 5px;
				cursor: pointer;
				border: none;
				margin-right: 5px;
				border-radius: 5px;
				padding: 5px 10px 5px 10px;
			}
			.cancel-news:hover {
				background-color: black;
				color: white;
				transition: all 0.5s;
			}
			.delete-news:hover {
				background-color: red;
				color: white;
				transition: all 0.5s;
			}
		}
	}
	.content-add-news {
		width: 100%;
		padding: 15px;
		direction: rtl;
		background-color: green;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		gap: 15px;
		.content-table-news {
			width: 100%;
			border-collapse: collapse;
			.titles-table-news {
				th {
					border-right: 1px solid #acaf003b;
					border-left: 1px solid #acaf003b;
					border-top: 1px solid #acaf003b;
					padding: 5px;
					text-align: start;
					font-size: 14px;
					color: white;
				}
			}
			.content-map-news {
				.map-news {
					background-color: white;
					margin-top: 10px;

					&.map-news:hover {
						background-color: #d1d1d1;
						transition: all 0.3s;
					}
					.titre-news {
						padding-right: 6px;
						p {
							width: 150px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							font-size: 12px;
						}
					}
					.title-news {
						width: 25%;
						padding: 10px;
						border-right: 1px solid #acaf003b;
						p {
							width: 255px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							font-size: 12px;
							font-weight: 450;
						}
					}
					.td-info {
						border-right: 1px solid #acaf003b;
						text-align: center;
						font-size: 13px;
						padding: 5px;
						.Date {
							color: rgb(173, 0, 150);
						}
						.Time {
							color: blue;
						}
					}
					.green {
						color: green;
					}
					.red {
						color: red;
					}
				}
			}
			.delete-news,
			.cancel-news {
				padding: 5px;
				cursor: pointer;
				border: none;
				margin-right: 5px;
				border-radius: 5px;
				padding: 5px 10px 5px 10px;
			}
			.cancel-news:hover {
				background-color: black;
				color: white;
				transition: all 0.5s;
			}
			.delete-news:hover {
				background-color: red;
				color: white;
				transition: all 0.5s;
			}
		}
		.edit-news-lord {
			padding: 5px;
			cursor: pointer;
			border: none;
			margin-right: 5px;
			border-radius: 5px;
			padding: 5px 10px 5px 10px;
		}
		.edit-news-lord:hover {
			background-color: black;
			color: white;
			transition: all 0.5s;
		}
		.pagination {
			width: 25%;
			display: flex;
			align-items: center;
			/* background-color: white; */
			button {
				width: 50%;
				height: 35px;
				border: none;
				border-radius: 5%;
				background-color: aqua;
				cursor: pointer;
			}
			h1 {
				width: 50%;
				height: 35px;
				font-weight: 300;
				font-size: 25px;
				text-align: center;
				color: white;
				background-color: black;
			}
		}
	}
	.container-search-news-lord {
		display: flex;
		justify-content: flex-start;
		gap: 15px;
		.search-news-by-title-lord,
		.search-news-by-id-lord {
			display: flex;
			gap: 10px;
			input[type="search"],
			input[type="number"] {
				border: none;
				outline: none;
				padding: 2px 5px 2px 5px;
				border-radius: 5px;
			}
			input[type="number"] {
				border: none;
				outline: none;
				padding: 2px 5px 2px 5px;
				border-radius: 5px;
			}
		}
		button {
			width: 10%;
			padding: 3px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			position: relative;
			.count-comment {
				width: 30px;
				height: 30px;
				background-color: rgb(129, 2, 2);
				border-radius: 50%;
				position: absolute;
				top: -15px;
				left: -10px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #fff;
			}
		}
	}
	.warning-delete-news {
		width: 50%;
		height: 50vh;
		padding: 10px;
		background-color: #07006b;
		border-radius: 15px;
		position: fixed;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
		color: white;
		top: 25%;
		left: 25%;
		right: 25%;
		bottom: 25%;
		.deleted-news {
			direction: rtl;
		}
		button {
			width: 100px;
			padding: 5px;
			border: none;
			margin-right: 5px;
			border-radius: 5px;
			cursor: pointer;
		}
		.btn-deleted-news:hover {
			background-color: red;
			color: white;
			transition: all 0.3s;
		}
		.btn-cancel-news:hover {
			background-color: green;
			color: white;
			transition: all 0.3s;
		}
	}
}

@media screen and (max-width: 500px) {
	.container-add-news {
		width: 100%;
		.content-add-news {
			border-radius: unset;
			thead {
				width: 100%;
				display: flex;
				background-color: #000;
			}
			.pagination {
				width: 100%;
			}
			.container-search-news-lord {
				flex-direction: column-reverse;
				align-items: flex-end;
				font-size: 12px;
				color: #fff;
				.search-news-by-title-lord {
					width: 100%;
					justify-content: space-between;
					gap: unset;
				}
				.search-news-by-id-lord {
					width: 100%;
					justify-content: space-between;
				}
				button {
					width: 25%;
				}
			}
			.content-table-news {
				display: flex;
				flex-direction: column;
				gap: 10px;
				.delete-news,
				.edit-news-lord {
					font-size: 12px;
				}
				.delete-news:hover {
					background-color: #eee;
				}
				.edit-news-lord:hover {
					background-color: #eee;
				}
				.titles-table-news {
					width: 100%;
					th {
						display: flex;
						font-size: 10px;
						border-left: unset;
					}
				}
				.content-map-news {
					display: flex;
					justify-content: space-between;
					.map-news {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						margin-top: unset;
						background-color: darkred;
						color: #fff;
						&.map-news:hover {
							background-color: darkred;
						}
						.titre-news {
							padding-right: unset;
							p {
								width: unset;
								font-size: 10px;
								padding: 5px;
							}
						}
						.title-news {
							padding: 5px;
							border-right: unset;
							p {
								font-size: 10px;
							}
						}
						.td-info {
							font-size: 10px;
							padding: 6px;
							color: #fff;
							.Date,
							.Time {
								color: #fff;
							}
						}
						.ffff {
							width: 100%;
							display: flex;
							background-color: #fff;
							justify-content: center;
							border-top-left-radius: 20px;
							border-top-right-radius: 20px;
							padding: 5px;
							font-size: 10px;
						}
					}
				}
			}
		}
		.status-comment-container {
			border-radius: unset;
			.select-comment {
				width: 100%;
				align-items: unset;
				gap: 20px;
				section {
					h6 {
						font-size: 10px;
					}
				}
				.content-select {
					font-size: 12px;
				}
				.btn-comment-select {
					left: unset;
					width: 100%;
				}
			}
			.top-access {
				width: 94%;
				font-size: 10px;
				color: #fff;
				button {
					height: fit-content;
					border: none;
					border-radius: 5px;
					padding: 5px 10px;
					font-size: 12px;
				}
			}
			.content-table-comment {
				display: flex;
				flex-direction: column;
				gap: 10px;
				.titles-table-comment {
					display: flex;
					flex-direction: column;
					th {
						font-size: 10px;
						border-right: unset;
						border-left: unset;
						border-top: 1px solid #acaf003b;
					}
				}
				.content-map-comment {
					display: flex;
					thead {
						background-color: #000;
					}
					.map-comment {
						width: 83%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						font-size: 10px;
						background-color: #4c0606;
						gap: 1px;
						color: #fff;
						&.map-comment:hover {
							background-color: #4c0606;
						}
						.btn-action-comment {
							width: 100%;
							background-color: darkslategray;
							display: flex;
							justify-content: center;
							align-items: center;
							border-top-left-radius: 20px;
							border-top-right-radius: 20px;
							padding: 5px;
						}
						.count-comment {
							padding: 5px;
						}
						.img-user-comment {
							height: unset;
							text-align: unset;
							justify-content: flex-start;
							align-items: center;
							margin-right: 5px;
							border-right: unset;
							img {
								width: 25px;
								height: unset;
							}
						}
						.titre-news-comment,
						.title-news-comment,
						.name-user-comment {
							font-size: 10px;
							padding: unset;
							text-align: justify;
							p {
								width: 16rem;
								padding: 5px;
								font-size: 10px;
							}
						}
						.text-comment-news {
							padding-right: unset;
							p {
								padding: 5px;
								font-size: 10px;
							}
						}
						.category-news-comment {
							font-size: 10px;
							padding: unset;
							p {
								padding: 5px;
							}
						}
						.date-comment {
							font-size: 10px;
							padding: 5px;
							.Date,
							.Time {
								color: #fff;
							}
						}
					}
				}
			}
		}
		.warning-delete-news {
			width: 80%;
			height: max-content;
			top: 25%;
			left: 10%;
			right: 25%;
			bottom: 25%;
			font-size: 12px;
			.deleted-news {
				width: 100%;
				span {
					padding: 5px;
				}
			}
		}
	}
}
