.news-create-admin {
  width: 85%;
  padding: 15px;
  background-color: green;
  flex-direction: column;
  border-radius: 5px;
  .input-news-admin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    &.input-news-admin > input[type="text"] {
      width: 60%;
      height: 35px;
      border: none;
      border-radius: 5px;
      outline: none;
      direction: rtl;
      padding: 8px;
      font-family: Vazirmatn;
    }
    &.input-news-admin > label {
      direction: rtl;
      width: 60%;
      font-family: Vazirmatn;
      user-select: none;
    }

    .checkbox-content {
      width: 70%;
      height: 200px;
      background-color: white;
      direction: rtl;
      font-family: Vazirmatn;
      font-size: 12px;
      border-radius: 5px;
      overflow-y: auto;
      scrollbar-width: thin;
      .title-category {
        width: 16%;
        height: 35px;
        padding: 0px 10px 0px 10px;
        margin: 10px;
        font-size: 10px;
        background-color: #eee;
        text-align: center;
        margin-right: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0px;
      }
      input[type="checkbox"] {
        cursor: pointer;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 5px;
      }
    }
    .buttons-create-news {
      width: 70%;
      display: flex;
      justify-content: space-between;
      #submit-warning {
        background-color: white;
        font-family: Vazirmatn;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        direction: rtl;
        padding: 0px 5px 0px 5px;
        border-radius: 5px;
        display: none;
        &#submit-warning p {
          margin-left: 5px;
        }
      }
      a,
      button[type="submit"] {
        width: 8%;
        padding: 5px;
        font-family: Vazirmatn;
        font-size: 12px;
        user-select: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background-color: white;
        text-decoration: none;
        list-style-type: none;
        text-align: center;
      }
      button[type="submit"]:hover {
        background-color: rgb(42, 179, 0);
        transition: all 0.5s;
        color: white;
      }

      button[type="button"]:hover {
        transition: all 0.5s;
      }
      a:hover {
        background-color: red;
        transition: all 0.5s;
      }
    }
  }
}
