.menu-admin {
  width: 15%;
  height: 92vh;
  background-color: #fff;
  display: flex;
  position: fixed;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 10px 0px 0px 10px;
  .navbar-menu-admin {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #eee;
    font-family: iran-5;
    font-size: 12px;
    border-radius: 10px 0px 0px 10px;
    user-select: none;
    .× {
      position: absolute;
      left: 10px;
      top: -3px;
      font-size: 30px;
      cursor: pointer;
    }
  }
  .header-menu-admin {
    width: 84%;
    height: 84vh;
    background-color: rgb(48, 204, 0);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 5px;
    border-radius: 5px;
    overflow-y: auto;
    direction: rtl;
    scrollbar-width: thin;
    user-select: none;
    &.header-menu-admin > button {
      width: 100%;
      height: 40px;
      font-family: iran-4;
      text-decoration: none;
      display: flex;
      gap: 10px;
      align-items: center;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      padding: 5px;
      position: relative;
    }
    &.header-menu-admin > button > i {
      font-size: 20px;
      width: 25px;
    }
    &.header-menu-admin > button:hover {
      background-color: aqua;
      border-radius: 5px;
      transition: all 0.1s;
      color: rgb(214, 3, 3);
      transition: all 0.4s;
    }
  }
}

/* adding classes sub */
/* 
.admin-pages-display-none {
  display: none;
} */
