* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-gallery-files {
	width: 85%;
	.content-option-button {
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 5px;
		background-color: aqua;
		padding: 10px;
		.option-upload {
			display: flex;
			width: 12%;
			gap: 5px;
			button,
			label {
				width: 100%;
			}
			button {
				background-color: saddlebrown;
			}
			label {
				background-color: saddlebrown;
			}
		}
		button {
			width: 10%;
			border: none;
			border-radius: 5px;
			padding: 5px;
			cursor: pointer;
			background-color: darkred;
			color: #fff;
			transition: all 0.3s;
		}
		button:hover {
			background-color: green;
			color: yellow;
		}
		label {
			width: 70px;
			height: 30px;
			background-color: darkred;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			border-radius: 5px;
			cursor: pointer;
		}
	}
	.content-gallery-files {
		width: 100%;
		display: flex;
		.content-images {
			width: 100%;
			.title-images {
				text-align: center;
				font-size: 14px;
			}
			.items-images {
				width: 100%;
				height: 80vh;
				padding: 20px;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
				gap: 10px;
				overflow-y: auto;
				scrollbar-width: thin;
				direction: rtl;
				.list-item {
					width: 100%;
					img {
						width: 100%;
						height: 160px;
						border-radius: 5px;
					}
				}
			}
			.options-control-images-selected {
				display: flex;
				gap: 10px;
				justify-content: center;
				align-items: center;
				background-color: aqua;
				padding: 10px;
				button {
					width: 10%;
					padding: 5px;
					border: none;
					border-radius: 5px;
				}
				.count-news-scrool {
					display: flex;
					gap: 5px;
				}
			}
		}
		.content-video {
			width: 100%;
			display: flex;
			.items-video {
				width: 100%;
				height: 80vh;
				padding: 20px;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
				gap: 10px;
				overflow-y: auto;
				scrollbar-width: thin;
				.list-item {
					width: 100%;
					video {
						width: 100%;
						height: 136px;
						border-radius: 5px;
					}
				}
			}
		}
	}
	.content-sound {
	}
}
@media screen and (max-width: 500px) {
	.container-gallery-files {
		width: 100%;
		.content-option-button {
			button {
				width: 65px;
			}
			.option-upload {
				width: 35%;
			}
		}
		.content-gallery-files {
			.content-images {
				.items-images {
					.list-item {
						img {
							height: 250px;
						}
					}
				}
				.options-control-images-selected {
					width: 100%;
					position: fixed;
					bottom: 0;
					button {
						width: 20%;
					}
				}
			}
		}
	}
}
