.container-add-user {
	width: 85%;
	display: flex;
	flex-direction: column;
	align-items: center;
	.content-add-user {
		width: 100%;
		padding: 15px;
		direction: rtl;
		background-color: green;
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		gap: 15px;

		.content-map-user {
			.map-user {
				display: flex;
				.content-options {
					width: 30%;
					padding: 5px;
					display: flex;
					flex-direction: column;
					gap: 5px;
					background-color: white;
					border-radius: 5px;
					margin-top: 10px;
					.style-display {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						padding: 5px;
						font-size: 12px;
						border-radius: 5px;
						background-color: #eee;
					}
					.ffff {
						background-color: green;
					}
					.img-profile-user {
						img {
							width: 40px;
							border-radius: 50%;
						}
					}
					.td-info {
						text-align: center;
						padding: 5px;
						.Date {
							color: rgb(173, 0, 150);
						}
						.Time {
							color: blue;
						}
					}
					.green {
						color: green;
					}
					.red {
						color: red;
					}
				}
			}
		}
		.delete-user,
		.cancel-user {
			width: 50%;
			padding: 5px;
			cursor: pointer;
			border: none;
			margin-right: 5px;
			border-radius: 5px;
			padding: 5px 10px 5px 10px;
		}
		.cancel-user:hover {
			background-color: black;
			color: white;
			transition: all 0.5s;
		}
		.delete-user:hover {
			background-color: red;
			color: white;
			transition: all 0.5s;
		}
	}
	.warning-delete-user {
		width: 50%;
		height: 50vh;
		padding: 10px;
		background-color: #07006b;
		border-radius: 15px;
		position: fixed;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
		color: white;
		top: 25%;
		left: 25%;
		right: 25%;
		bottom: 25%;
		button {
			width: 100px;
			padding: 5px;
			border: none;
			margin-right: 5px;
			border-radius: 5px;
			cursor: pointer;
		}
		.btn-deleted-user:hover {
			background-color: red;
			color: white;
			transition: all 0.3s;
		}
		.btn-cancel-user:hover {
			background-color: green;
			color: white;
			transition: all 0.3s;
		}
	}
}

@media screen and (max-width: 500px) {
	.container-add-user {
		width: 100%;
		.warning-delete-user {
			width: 80%;
			left: 10%;
			right: 10%;
			font-size: 14px;
			justify-content: space-evenly;
			gap: unset;
		}
		.content-add-user {
			width: 100%;
			border-radius: unset;
			h2 {
				text-align: center;
				color: #fff;
			}
			.content-title {
				width: 30%;
			}
			.content-map-user {
				width: 100%;
				.map-user {
					display: flex;
					flex-direction: column;
					margin-top: unset;
					.content-options {
						width: 100%;
					}
					.td-info {
						font-size: 14px;
					}
				}
			}
		}
	}
}
