.bodyHederHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Gallery-Row-Slider {
    width: 93%;
    height: 200px;
    background-color: rgba(3, 500, 1, 0.12);
    margin-top: 15px;
    border-radius: 5px;
    padding: 1%;
    display: flex;
    flex-direction: row;

    .Content-Gallery {
      width: 20%;
      margin-right: 5px;
      position: relative;

      .NewsItems-Gallery {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;

        .imgNews-Gallery {
          width: 100%;
          height: 150px;
          cursor: pointer;
          .imgStyleHeader-Gallery {
            width: 100%;
            height: 150px;
            border-radius: 5px;
          }
        }

        .Content-Texts-Dallery {
          margin-right: 10px;
          margin-top: 5px;

          .RoutingNews-Gallery {
            width: 100%;
            height: 25px;
            direction: rtl;

            .RoutingNewsHeader-Gallery {
              font-family: Vazirmatn;
              font-size: 12px;
            }
          }

          .titleNews-Gallery {
            &.titleNews-Gallery {
              text-decoration: none;
            }

            .HeadlineNewsHeader-Gallery {
              width: 100%;
              height: 25px;
              font-family: Vazirmatn;
              font-size: 12px;
              direction: rtl;
              cursor: pointer;
              &.HeadlineNewsHeader-Gallery:hover {
                color: green;
              }
            }
          }
        }
      }

      &.Content-Gallery::before {
        content: "";
        width: 1px;
        height: 50px;
        background-color: red;
        position: absolute;
        bottom: 0px;
        right: 0px;
        border-radius: 50%;
      }
    }
  }

  .Container-Slider {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ContentSlider {
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: row;
      justify-content: end;
      border-radius: 5px;
      position: relative;

      .ItemsSliderTextLeft {
        width: 25%;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ContainerTextLeft {
          width: 98%;
          height: 400px;
          font-family: Vazirmatn;
          font-size: 13px;
          /* background-color: rgba(92, 182, 89, 0.438); */
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          /* overflow-y: scroll; */
          /* position: relative; */
          .Content-Item-Tab {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: end;
            align-items: center;
            flex-direction: row;
            background-color: #fff;
            position: relative;
            .Center-BeforAndAfter {
              width: 74%;
              height: 26px;
              background-color: rgba(3, 500, 1, 0.12);
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              border-radius: 30% 0% 0% 30%;
              /* left: calc(5% - 2.5px); */

              .background-title {
                width: 35%;
                height: 26px;
                background-color: rgb(238, 233, 233);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                .title {
                  font-size: 12px;
                }
              }
              &.Center-BeforAndAfter::after {
                content: "";
                width: 20%;
                aspect-ratio: 1;
                background-color: rgba(3, 500, 1, 0.12);
                position: absolute;
                right: -39px;
                border-radius: 50%;
              }
              &.Center-BeforAndAfter::before {
                content: "";
                width: 15%;
                aspect-ratio: 1;
                background-color: rgba(3, 500, 1, 0.12);
                /* background-color: blue; */
                position: absolute;
                left: -33.3px;
                border-radius: 50%;
              }
            }
            .line-After {
              width: 15%;
              aspect-ratio: 1;
              /* position: absolute; */
              /* right: -1px; */
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: white;
              border-radius: 50px;
              z-index: 1;
              /* display: none; */
            }
          }

          .ContentTextLeft {
            width: 100%;
            height: 374px;
            font-family: Vazirmatn;
            font-size: 13px;
            background-color: rgba(3, 500, 1, 0.12);
            border-radius: 0% 15% 0% 15%;
            overflow-y: scroll;
            overflow-x: hidden;
            direction: rtl;
            scrollbar-width: thin;
            scrollbar-color: rgb(199, 10, 3) rgba(179, 0, 0, 0);
            .TextLeft {
              width: 100%;
              height: 374px;
              text-align: center;
              scrollbar-color: #029b0f rgba(17, 34, 85, 0);
              &.TextLeft a {
                text-decoration: none;
              }
              &.TextLeft a {
                cursor: pointer;
              }
            }

            &.ContentTextLeft ul :hover {
              color: red;
              transition: all 0.3s;
            }
          }
        }
      }

      .ItemsSliderCenter {
        width: 30%;
        background-color: rgba(3, 500, 1, 0.12);
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .ItemSliderCenter {
          width: 100%;
          height: 180px;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;

          .imgCenter1 {
            width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.2s;
            cursor: pointer;
            &.imgCenter1:hover {
              + .TextImgCenter {
                background-color: rgba(16, 112, 3, 0);
                background-image: linear-gradient(rgba(22, 168, 3, 0), rgba(8, 167, 2, 0.829));
                transition: all 0.2s;
              }
            }

            .SliderImgCenter {
              width: 100%;
              height: 188px;
              border-radius: 5px;

              &.SliderImgCenter :hover {
                background-color: antiquewhite;
              }
            }
          }

          .imgCenter2 {
            width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 0.2s;

            &.imgCenter2:hover {
              + .TextImgCenter {
                background-color: rgba(16, 112, 3, 0);
                background-image: linear-gradient(rgba(22, 168, 3, 0), rgba(8, 167, 2, 0.829));
                transition: all 0.2s;
              }
            }

            .SliderImgCenter {
              width: 100%;
              height: 188px;
              border-radius: 5px;

              &.SliderImgCenter :hover {
                background-color: antiquewhite;
              }
            }
          }

          .TextImgCenter {
            width: 95%;
            height: 65px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: -5px;
            border-radius: 5px;
            font-family: Vazirmatn;
            font-size: 8px;
            transition: all 0.2s;

            &.TextImgCenter:hover {
              background-color: rgba(16, 112, 3, 0);
              background-image: linear-gradient(rgba(22, 168, 3, 0), rgba(8, 167, 2, 0.829));
              transition: all 0.2s;
            }

            .TextImg {
              &.TextImg h1 :hover {
                color: green;
                transition: all 1s;
              }

              &.TextImg a {
                color: #e6e1e1d3;
                text-decoration: none;
                cursor: pointer;
              }
            }
          }
        }
      }

      .ItemsSliderRight {
        width: 50%;
        height: 400px;
        border-radius: 5px;
        background-color: rgba(3, 500, 1, 0.12);
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .imgRight {
          width: 97%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &.imgRight:hover {
            + .RightTextImg {
              background-color: rgba(16, 112, 3, 0);
              background-image: linear-gradient(rgba(22, 168, 3, 0), rgba(8, 167, 2, 0.829));
              transition: all 0.2s;
            }
          }

          .SliderImgRight {
            width: 100%;
            height: 383px;
            border-radius: 5px;
          }
        }

        .RightTextImg {
          width: 97%;
          height: 130px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: Vazirmatn;
          font-size: 12px;
          position: absolute;
          bottom: 7px;
          border-radius: 5px;
          transition: all 0.2s;

          &.RightTextImg:hover {
            transition: all 2s;
            background-color: rgba(16, 112, 3, 0);
            background-image: linear-gradient(rgba(22, 168, 3, 0), rgba(8, 167, 2, 0.829));
          }
        }

        .TextImg {
          &.TextImg h1:hover {
            color: green;
            transition: all 1s;
          }

          &.TextImg h1 {
            text-decoration: none;
            color: #e6e1e1d3;
            cursor: pointer;
          }
        }
      }
    }
  }

  .line-Center {
    width: 95%;
    height: 15px;
    background-color: aquamarine;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  /* start style containerHeaderRight  */
  .Container-Header {
    width: 95%;
    display: flex;
    flex-direction: row;

    .ContainerRight {
      width: 100%;

      .containerHeaderRight {
        width: 98%;
        /* background-color: #eee; */

        .NewsContainer {
          width: 100%;
          display: flex;
          flex-direction: row-reverse;
          position: relative;
          background-image: linear-gradient(rgba(22, 168, 3, 0), rgba(76, 202, 72, 0.829));
          margin-top: 5px;
          border-radius: 5px;
          padding: 9px;
          .NewsContent {
            width: 100%;
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: end;

            .NewsItems {
              width: 100%;
              position: relative;

              .img-content {
                width: 100%;

                .ImgNews {
                  text-decoration: none;
                  cursor: pointer;

                  .imgStyleHeader {
                    width: 40%;
                    height: 175px;
                    float: right;
                    border-radius: 5px;
                    margin-left: 10px;
                  }
                }
              }

              .RoutingNews {
                .RoutingNewsHeader {
                  font-family: Vazirmatn;
                  font-size: 12px;
                  margin-top: 3px;
                }

                .titleNews {
                  text-decoration: none;

                  .HeadlineNewsHeader {
                    font-family: Vazirmatn;
                    cursor: pointer;
                    font-size: 15px;
                    margin-top: 3px;

                    &.HeadlineNewsHeader:hover {
                      color: green;
                      transition: all 0.2s;
                    }
                  }
                }

                .abstractNews {
                  /* width: 100%; */
                  word-break: break-word;

                  .AbstractNewsHeader {
                    font-family: Vazirmatn;
                    font-size: 14px;
                    margin-top: 3px;
                    user-select: text;
                  }
                }
              }
            }

            .authorNews {
              background-color: #fff;
              border-radius: 5px;
              margin-top: 15px;
              /* position: absolute; */
              /* right: 0px;
              bottom: 0px; */
              padding: 1px 5px 1px 5px;

              .AuthorNewsHeader {
                font-family: Vazirmatn;
                font-size: 14px;
              }

              .CommonStyleToAuthor {
                font-size: 12px;
                color: rgb(196, 1, 1);
              }
            }
          }

          .ContainerAuthorNews {
            width: 25%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
            background-color: #7f8102a6;
            direction: rtl;
            font-family: Vazirmatn;
            text-align: center;
            margin-right: 10px;

            .ContentAuthor {
              width: 100%;
              .ImgAuthor {
                text-decoration: none;
                cursor: pointer;
                .imgAuthor {
                  width: 45%;
                  height: 80px;
                  border-radius: 50%;
                }
              }
            }

            .Bridge {
              display: flex;
              flex-direction: row;
              margin-bottom: -8px;

              &.Bridge li {
                margin-right: 10px;
                list-style-type: none;
              }

              &.Bridge a {
                text-decoration: none;
              }

              &.Bridge a:hover {
                color: green;
                transition: all 1s;
              }
            }
          }
        }
      }
    }

    /* start style containerHeaderLeft  */
    .ContainerLeft {
      width: 35%;
      margin-right: 25px;

      .ContainerHeaderLeft {
        width: 100%;
        /* background-color: #eee; */
        background-image: linear-gradient(rgba(22, 168, 3, 0), rgba(229, 245, 8, 0.288));
        border-radius: 5px;
        padding: 10px;
        display: flex;
        justify-content: right;
        position: relative;
        border-radius: 5px;
        margin-top: 5px;

        .NewsContainer-left {
          width: 100%;
          /* display: flex; */
          flex-direction: row-reverse;
          position: relative;

          .NewsContent-left {
            width: 100%;
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: end;

            .NewsItems-left {
              width: 100%;
              direction: rtl;

              .img-content-left {
                width: 100%;

                .ImgNews-left {
                  text-decoration: none;
                  cursor: pointer;
                  .imgStyleHeader-left {
                    width: 50%;
                    height: 110px;
                    float: right;
                    border-radius: 5px;
                    margin-left: 10px;
                  }
                }
              }

              .RoutingNews-left {
                display: inline;

                .RoutingNewsHeader-left {
                  font-family: Vazirmatn;
                  font-size: 10px;
                  margin-top: 3px;
                }

                .titleNews-left {
                  text-decoration: none;

                  .HeadlineNewsHeader-left {
                    font-family: Vazirmatn;
                    cursor: pointer;
                    font-size: 11px;
                    margin-top: 3px;

                    &.HeadlineNewsHeader-left:hover {
                      color: green;
                      transition: all 0.2s;
                    }
                  }
                }

                .abstractNews-left {
                  word-break: break-word;

                  .AbstractNewsHeader-left {
                    font-family: Vazirmatn;
                    font-size: 11px;
                    margin-top: 3px;
                    user-select: text;
                  }
                }
              }
            }

            .authorNews-left {
              background-color: #fff;
              border-radius: 5px;
              margin-top: 15px;
              display: flex;
              justify-content: center;
              align-items: center;

              .AuthorNewsHeader-left {
                font-family: Vazirmatn;
                padding: 1px 5px 1px 5px;
              }

              .CommonStyleToAuthor-left {
                font-size: 10px;
                color: rgb(196, 1, 1);
              }
            }
          }
        }
      }
    }
  }
}
