.news-create-admin {
	width: 85%;
	padding: 15px;
	background-color: green;
	flex-direction: column;
	border-radius: 5px;
	.input-news-admin {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 5px;
		.limit-characters {
			color: red;
			background-color: #fff;
			padding: 1px 5px 1px 5px;
			font-size: 12px;
			margin-right: 5px;
			border-radius: 2px;
			border: none;
		}
		&.input-news-admin > input[type="text"] {
			width: 60%;
			height: 35px;
			border: none;
			border-radius: 5px;
			outline: none;
			direction: rtl;
			padding: 8px;
			font-family: Vazirmatn;
		}
		&.input-news-admin > label {
			direction: rtl;
			width: 60%;
			font-family: Vazirmatn;
			user-select: none;
		}
		.editor-select-images {
			width: 100%;
			height: 100vh;
			position: fixed;
			z-index: 3;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			background-color: darkgoldenrod;
			left: 0;
			right: 0;
			top: 0;
			.section-files {
				width: 100%;
				height: 100vh;
				display: flex;
				margin-top: 40px;
				justify-content: center;
			}
		}

		.Category {
			width: 80%;
			background-color: white;
			direction: rtl;
			font-family: Vazirmatn;
			font-size: 12px;
			border-radius: 5px;
			overflow-y: auto;
			scrollbar-width: thin;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			.title-category {
				width: 95%;
				height: 35px;
				padding: 0px 10px 0px 10px;
				margin: 10px;
				font-size: 10px;
				background-color: #eee;
				text-align: center;
				border-radius: 5px;
				display: flex;
				align-items: center;
				position: sticky;
				top: 0px;
				h2 {
					color: rgb(128, 0, 0);
				}
			}
			.container-category {
				width: 100%;
				display: flex;
				padding: 20px;
				gap: 3px;
				.server-category {
					width: 100%;
					display: flex;
					justify-content: flex-start;
					gap: 10px;
					.content-add-category {
						width: 35%;
						display: flex;
						flex-direction: column;
						gap: 2px;
						.add-Category {
							width: 100%;
							display: flex;
							justify-content: space-between;
							align-items: center;
							/* gap: 5px; */
							/* width: 60%; */
							background-color: #eee;
							padding: 5px;
							border-radius: 5px;
							.fa-trash {
								padding: 4px 10px 4px 10px;
								cursor: pointer;
								border: none;
								border-radius: 5px;
								margin-bottom: -3px;
							}
							label {
								user-select: none;
								display: flex;
								gap: 10px;
								font-size: 14px;
							}
						}
					}
				}
				.Create-SubCategory {
					width: 60%;
					/* height: 40vh; */
					border-radius: 5px;
					padding: 10px;
					text-align: center;
					padding-bottom: 5px;
					background-color: #eee;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					h3 {
						margin-bottom: 5px;
						font-weight: 450;
					}
					.btn-checkbox-subC {
						display: flex;
						justify-content: space-around;
						align-items: center;
						gap: 15px;
						.content-checkbox {
							width: 100%;
							display: flex;
							gap: 5px;
							font-size: 13px;
						}
						.fa-trash {
							padding: 4px 10px 4px 10px;
							cursor: pointer;
							border: none;
							border-radius: 5px;
							margin-bottom: 2px;
							background-color: #eee;
						}
					}
					.ddd {
						height: 30vh;
						overflow-y: auto;
						scrollbar-width: thin;
					}
					.branch-Create-content {
						width: 100%;
						height: 10vh;
						display: flex;
						flex-direction: column;
						gap: 5px;
						justify-content: center;
						border-radius: 5px;
						align-items: center;
						.btn-create-sub-category {
							width: 100%;
							display: flex;
							justify-content: center;
							gap: 5px;
							position: relative;
							input[type="button"] {
								border: none;
								background-color: white;
								border-radius: 5px;
							}
							input[type="input"] {
								width: 80%;
								padding: 5px;
								border: none;
								font-size: 10px;
								background-color: white;
								border-radius: 5px;
							}
						}
						.warning-add-subCategory {
							background-color: #000;
							padding: 2px 5px 2px 5px;
							position: absolute;
							top: -30px;
							border-radius: 5px;
							color: #fff;
						}
					}
					input[type="button"] {
						width: 10%;
						cursor: pointer;
					}
					.input-subcategory {
						width: 80%;
						border: none;
						outline: none;
					}
					.ShowWarningSubCategory {
						color: red;
						visibility: hidden;
					}
				}
				.content-create-category {
					cursor: pointer;
					display: flex;
					gap: 5px;
					input[type="input"] {
						width: 100%;
						border: none;
						outline: none;
						border-radius: 5px;
						transition: all 1s;
						padding: 5px;
						background-color: #eee;
					}
					input[type="button"] {
						width: 20%;
						cursor: pointer;
						border: none;
						border-radius: 5px;
						padding: 5px;
						background-color: #eee;
						transition: all 1s;
					}
					input[type="button"]:hover {
						background-color: green;
					}
				}
				.button-category {
					cursor: pointer;
					user-select: none;
					background-color: #eee;
					border: none;
					padding: 10px;
					border-radius: 5px;
				}
			}
			.container-columns {
				width: 40%;
				/* height: 40vh; */
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				justify-content: center;
				background-color: #eee;
				padding: 10px;
				gap: 15px;
				user-select: none;
				border-radius: 5px;
				.content-column {
					border-radius: 5px;
					user-select: none;
					display: flex;
					align-items: center;
					gap: 5px;
					color: rgb(128, 0, 0);
					.content-two-column {
						margin-right: 20px;
					}
					.slider {
						font-size: 14px;
						font-weight: 700;
						color: rgb(128, 0, 0);
					}
				}
				.add-to-slider-main-page,
				.add-to-chosen-main-page,
				.disable-comment,
				.add-to-slider-self-news,
				.add-to-chosen-self-news,
				.add-to-self-page-note,
				.add-to-main-page-note,
				.add-main-ticker-news,
				.add-sub-ticker-news {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 5px;
					user-select: none;
					color: rgb(128, 0, 0);
					input {
						cursor: pointer;
					}
				}
				input[type="checkbox"] {
					width: 13px;
					cursor: pointer;
					margin-left: 5px;
					margin-right: 10px;
				}
			}
		}
		.buttons-create-news {
			width: 80%;
			display: flex;
			justify-content: space-between;
			#submit-warning {
				background-color: white;
				font-family: Vazirmatn;
				font-size: 12px;
				display: flex;
				justify-content: center;
				align-items: center;
				direction: rtl;
				padding: 0px 5px 0px 5px;
				border-radius: 5px;
				display: none;
				&#submit-warning p {
					margin-left: 5px;
				}
			}
			a,
			button[type="button"] {
				width: 8%;
				padding: 5px;
				font-family: Vazirmatn;
				font-size: 12px;
				user-select: none;
				border-radius: 5px;
				border: none;
				cursor: pointer;
				background-color: white;
				text-decoration: none;
				list-style-type: none;
				text-align: center;
				/* pointer-events: none; */
			}

			button[type="button"]:hover {
				transition: all 0.5s;
				background-color: rgb(128, 0, 0);
				color: white;
			}
			a:hover {
				background-color: red;
				transition: all 0.5s;
				color: white;
			}
		}
	}
}
.warning-delete {
	width: 50%;
	height: 50vh;
	padding: 10px;
	background-color: #07006b;
	border-radius: 15px;
	position: fixed;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	direction: rtl;
	gap: 50px;
	top: 25%;
	bottom: 25%;
	left: 25%;
	bottom: 0%;
	z-index: 2;
	button {
		width: 100px;
		padding: 5px;
		border: none;
		margin-right: 5px;
		border-radius: 5px;
		cursor: pointer;
	}
	.btn-deleted-SubCategory:hover {
		background-color: red;
		color: white;
		transition: all 0.3s;
	}
	.btn-cancel-SubCategory:hover {
		background-color: green;
		color: white;
		transition: all 0.3s;
	}
}

@media screen and (max-width: 500px) {
	.news-create-admin {
		width: 100%;
		border-radius: unset;
		.tox-platform-touch {
			width: 100% !important;
		}
		.tox .tox-toolbar--scrolling .tox-toolbar__group {
			flex-shrink: unset !important;
			flex-wrap: wrap !important;
		}
		.input-news-admin {
			&.input-news-admin > input[type="text"] {
				width: 100%;
				font-size: 10px;
			}
			.Category {
				width: 100%;
				.container-category {
					flex-direction: column;
					.server-category {
						flex-direction: column-reverse;
						.content-add-category {
							width: 100%;
						}
					}
					.Create-SubCategory {
						width: 100%;
					}
				}
				.container-columns {
					width: 100%;
				}
				.title-category {
					width: 88%;
				}
			}
			.buttons-create-news {
				width: 100%;
				gap: 10px;
				button[type="button"] {
					width: 50%;
					height: 40px;
					font-size: 14px;
					font-weight: 500;
					color: #000;
				}
				a {
					width: 50%;
					height: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 14px;
					font-weight: 500;
					color: #000;
				}
			}
		}
	}
}
