.menu-admin {
  width: 16.5%;
  background-color: green;
  display: flex;
  position: fixed;
  right: 0;
  transition: all 0.5s;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 15px;
  a {
    list-style-type: none;
    text-decoration: none;
  }
  .navbar-menu-admin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Vazirmatn;
    font-size: 12px;
    user-select: none;
    border-radius: 5px;
    gap: 5px;
    .animation {
      width: 60px;
      height: 48px;
      margin-bottom: 1%;
      .logo-site {
        width: 60px;
        height: 42px;
        display: inline-block;
        background-size: 70px;
        background-image: url(/public/VeharYellow.ico);
        background-repeat: no-repeat;
      }
      .animate {
        position: absolute;
        top: 5px;
      }
    }
    h1 {
      color: white;
      font-size: 12px;
      margin-top: 5%;
    }
  }
  .header-menu-admin {
    width: 100%;
    height: 84vh;
    background-color: rgb(48, 204, 0);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 5px;
    border-radius: 5px;
    overflow-y: auto;
    direction: rtl;
    scrollbar-width: thin;
    &.header-menu-admin a > button {
      width: 100%;
      height: 40px;
      font-family: Vazirmatn;
      display: flex;
      gap: 10px;
      align-items: center;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      padding: 5px;
      position: relative;
      font-size: 13px;
    }
    &.header-menu-admin a,
    i {
      text-decoration: none;
      font-size: 15px;
    }

    &.header-menu-admin a > button:hover {
      background-color: aqua;
      border-radius: 5px;
      transition: all 0.1s;
      color: rgb(214, 3, 3);
      transition: all 0.4s;
    }
  }
}
